<div class="form-group d-flex flex-column w-100 justify-content-start align-self-start">
        <div class="d-flex flex-row">
            <div>
                {{form_field.label }}
            </div>
            <div>
                <span style="color:red">{% if form_field.flags.required %}*{% endif %}</span>
            </div>
        </div>
       
        <div class="f-flex w-100">
            {{ form_field(class="form-control input-style",placeholder="your message...") }}
        </div>

        {% for error in form_field.errors %}
        <span class="text-error-note" style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
