{% include include_files('form_definition_header.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('form_header.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('form_line.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('form_body_header.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
        <!--===================================================-->
        {% include include_files('form_field.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
        {% include include_files('form_field.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
        {% include include_files('form_textarea.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
        <!--==================================================-->
    {% include include_files('form_body_footer.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('form_line.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('form_footer.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
{% include include_files('form_definition_footer.html',type='BRICK',module='',language=CURRENT_LANGUAGE) ignore missing %}
