<!--BEGIN--page_template = "authorization_forms_template"-->
{% extends "webapppageslayout.html" %}
{% set active_module = 'authorization' %}
{% set page_title = "" %}
{% set page_logo = "" %}
{% set next_page = "" %}
{% set previous_page = "" %}
{% set content_page="authorization_forms_page_content.html" %}

{% set content_page_template="authorizationpageslayout_pagecontenttemplate.html" %}
{% block content %}
{% include appfolder('PAGESLAYOUT',active_module)+version_file("authorizationpageslayout.html",execution_mode,design_type,design_version) %}
{% endblock %}
<!--ENDOF--page_template = "authorization_forms_template"-->
