<!--
<div class="d-flex flex-column">
    
    <div class="d-flex mx-auto" style="margin-top:-20px">
        <span class="fas fa-align-justify"></span>
    </div>
    <div class="d-flex xmx-auto">
        <h1>Business Processes Digitilization <span class="fas fa-align-justify"></span></h1>
    </div>
    <div>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.<a href="http://flask.pocoo.org/" class="button_learnmore_intext">Learn more &raquo;</a></p>
    </div>
</div>
-->
<h1>Business Processes Digitilization <span class="fas fa-align-justify"></span></h1>
<p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.<a href="http://flask.pocoo.org/" class="button_learnmore_intext">Learn more &raquo;</a></p>
