<p>
    <strong>Cookies</strong> are important to the proper functioning of a site.
    To improve your experience, we use cookies to remember log-in details and provide secure log-in,
    collect statistics to optimize site functionality, and deliver content tailored to your interests.
    Click <strong>Agree and Proceed</strong> to accept cookies and go directly to the site or click on <strong>More Information</strong> to see detailed descriptions of the types of cookies and choose whether to accept certain cookies while on the site.
    Selecting <strong>"Ask me later"</strong> will enable cookies for the next 24 hours.
    <span class="text-muted credit">By using our website you are consenting to our use of cookies in accordance with our <a href="{{url_for('cookies_policy')}}">cookie policy</a>.</span>
</p>