<div class="d-flex flex-column">
    <div class="p-0 mb-2 justify-content-start">
        <div class="d-flex float-left document_page-lastrevision">
            <span class="text_last_revision">
                last revision:&nbsp;12/10/2018&nbsp;<span class="text-previous-version">05/09/2017</span>&nbsp;<del>11/01/2016</del>&nbsp;
            </span>
        </div>
    </div>
    <div class="p-0 m-0 justify-content-start">
        <p>
            <!--introduction-->
            <p>
                <span class="text-emphasis">Cookies</span> are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. We use Cookies for Improving our website for speed and better user experience on <span class="text-emphasis-shadow-bold">{{domain_name}}</span> web site.
                <br />Cookies are not used for:
                <br /> • Any shopping carts
                <br /> • passing any personal identifiable information to third parties.
                <br /> • Pay sales commissions.
            </p>
            <br>

            <h2>Changes to this policy</h2>
            <p>
                <span class="text-emphasis">{{COMPANY_NAME}}</span> will occasionally update this policy. When we do, we will also revise the <span class="text-note">last revision</span> date at the beginning of this web page. Your continued use of this Site is contingent upon your agreement to be bound by any such revisions and you should therefore periodically visit this page to review the then-current Terms and Conditions.
            </p>

            <h2>Contact information</h2>
            <p>
                Questions or comments regarding these terms and conditions are welcome and should be directed to the web site coordinator. (<a class="email_link" href="mailto:{{WEBSITE_ADMIN_EMAIL}}?subject=Cookies Policy">{{WEBSITE_ADMIN_EMAIL}}"</a>)
            </p>
        </p>
    </div>
</div>