<!--add some emoji like 🍪 🐕‍🦺-->
<p>
    We use <strong>cookies</strong>🍪 to gather statistics and offer you personalized content and experience.
    We also share information about your use of our site with our social media and analytics partners.Read about how we use cookies and how to withdraw your consent in our Cookie Policy.
    <span class="text-muted credit">By using our website you are consenting to our use of cookies in accordance with our</span> <a class='inpage_link' href="{{url_for('cookies_policy')}}">cookie policy</a>.
</p>