<h2>Company</h2>
<p>
    Our mission is to enable our clients' success by:
    <br />Providing independent and honest advice
    <br />Applying our professional experience, knowledge and passion
    <br />Gaining and constantly maintaining their highest trust
    <br />We extend the reach of IT executives, serving as "eyes and ears" throughout the entire complex technology environment.
</p>
<br>&nbsp;
<p class="text-bottom-right"><a href="{{url_for('company')}}" style="font-size:0.75rem;font-weight:800;border-radius:2rem" class="btn btn-outline-warning btn-sm">learn more&raquo;</a></p>
