<div class="d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="">
            <h1>independent thinking.</h1>
            <h1>honest advise.</h1>
        </div>
        <div class="d-flex align-items-end">
            {% include include_files('button_learnmore.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
        </div>
    </div>
    <div>
        <p class="lead">
            Our mission is to enable our clients' success by:
        </p>
        <p>
            &bull;Providing <span class="text-emphasis-shadow-bold">independent and honest advice</span>.
            <br />&bull;Applying our <span class="text-emphasis-shadow-bold">professional experience, knowledge and passion</span>.
            <br />&bull;and constantly maintaining their <span class="text-emphasis-shadow-bold">highest trust</span>.
            <br />&bull;We <span class="text-emphasis-shadow-bold">extend the reach of IT executives</span>, serving as "eyes and ears" throughout the entire complex technology environment.
            <br />&bull;We become <span class="text-emphasis-shadow-bold">force multipliers</span>, <span class="text-emphasis-shadow-bold">increasing the effectiveness of client project teams</span>.
            <br />&bull;By partnering with our clients, We provide the deep expertise and broad capabilities necessary to <span class="text-emphasis-shadow-bold">align Information Technology with Business</span>.
            <br />&bull;We re committed to <span class="text-emphasis-shadow-bold">maximizing the value of your IT investment</span>.
        </p>
    </div>
</div>