<div class="d-flex flex-column mb-2 pb-2">
    <div class="p-0">
        {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT')] %}
    </div>
    <div id="password_forget border border-success mb-2 pb-2">
        {% include [language_fullpathfile('form_password_forget.html',CURRENT_LANGUAGE,'FORM'), fullpathfile('form_password_forget.html','FORM')] %}
    </div>
</div>