    <div class="d-flex flex-column authorization-form " style="width:520px">
        <div class="form-messages justify-content-center">
            {#% include [language_fullpathfile('messages_display_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_exceptfielderrors.html','COMPONENT')] %#}
        </div>
        <div class="">
            {% include [language_fullpathfile('form_register.html',CURRENT_LANGUAGE,'FORM'), fullpathfile('form_register.html','FORM')] %}
        </div>
    </div>