<!--BEGIN--layoutpagecontenttemplate = "authorizationpageslayout_pagecontenttemplate"-->
{% set page_header="_layout_page_header.html" %}
<div class="d-flex flex-column justify-content-start col-12 m-0 mb-3 p-0 authorization_page">

    <div class="d-flex flex-column justify-content-start col-12 m-0 p-0">

        <!--1:messages-->
        <div class="d-flex flex-wrap flex-row justify-content-between m-0 p-0">
            <div class="d-flex mr-2">
            </div>
            <div class="d-flex">
                {% include include_files('messages_display_excepterrors.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
            </div>
            <div class="d-flex ml-2">
            </div>
        </div>

        <!--2:links-->
        <div class="d-flex flex-wrap flex-row justify-content-between m-0 p-0">
            <div class="d-flex flex-grow-1 justify-content-end align-items-end">
                <div class="d-flex flex-row p-0 m-0">
                    <div class="d-flex flex-grow-1 justify-content-end align-self-center p-0 m-0 links_menu">
                        {% include include_files('pagelinks_menu.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                    </div>
                </div>
            </div>
        </div>


        <!--3:page-content-->
        <div class="d-flex flex-wrap flex-row justify-content-center">

            <!--3.1:page-content-left-->
            <div class="">
                {% if page_content_left %}
                {% include include_files(page_content_left,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>

            <!--3.2:page-content-->
            <div class="d-flex flex-column">
                <!--3.2.1:page-header:page-logo,title,buttons-->
                <div class="d-flex flex-wrap flex-column justify-content-center mt-1 mb-1">

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex align-items-center">
                            {% if page_image %}
                            <img style="width:5rem;height:5rem;" src={{page_image}} class="document-image_icon" />
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="container">
                                {% if page_title %}
                                <h4 class="page_title m-0 p-0">{{page_title}}</h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            {% include include_files('form_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                        </div>
                    </div>

                    <div class="d-flex justify-content-end align-items-end">
                        <div class="d-flex flex-row p-0 m-0">
                            <div class="d-flex flex-grow-1 justify-content-end align-self-center p-0 m-0 links_menu">
                                {% if page_image or page_title %}
                                <span style="margin-top:0rem">
                                    {% else %}
                                    <span style="margin-top:0rem">
                                        {% endif%}
                                        {% include include_files('formlinks_menu.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--3.2.2:page-content-->
                <div class="container m-0 p-0">
                    {% if content_page %}
                    {% include include_files(content_page,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                    {% endif %}
                </div>

                <!--3.2.3:page-content-footer-->
                <div class="d-flex justify-content-end">
                    {% if page_content_footer %}
                    {% include include_files(page_content_footer,type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                    {% endif %}
                </div>
            </div>

            <!--3.1:page-content-right-->
            <div class="">
                {% if page_content_right %}
                {% include include_files(page_content_right,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>

        </div>

        <!--4:content-bottom-->
        <div class="d-flex flex-wrap justify-content-center">
            <div class="d-flex">
                {% if page_content_bottom_left %}
                {% include include_files(page_content_bottom_left,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>
            <div class="d-flex">
                <div class="container">
                    {% if page_content_bottom_center %}
                    {% include include_files(page_content_bottom_center,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                    {% endif %}
                </div>
            </div>
            <div class="d-flex">
                {% if page_content_bottom_right %}
                {% include include_files(page_content_bottom_right,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>
        </div>

        <!--10:page-bottom-->
        <div class="d-flex flex-wrap flex-row justify-content-center">
            <div class="d-flex">
                {% if page_bottom_left %}
                {% include include_files(page_bottom_left,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>
            <div class="d-flex">
                <div class="container">
                    {% if page_bottom_center %}
                    {% include include_files(page_bottom_center,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                    {% endif %}
                </div>
            </div>
            <div class="d-flex">
                {% if page_bottom_right %}
                {% include include_files(page_bottom_right,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--ENDOF--layoutpagecontenttemplate = "authorizationpageslayout_pagecontenttemplate"-->