<!--START:form_close_button.html-->
{% if form_close_link %}
<input class="btn btn-sm btn_close mr-2" type=button onClick="location.href='{{ url_for(form_close_link) }}'" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" title='{{form_close_caption}}' value='Close'>
{% else %}
{% set url=session.get("lastpageURL") %}
<input class="btn btn-sm btn_close mr-2" type=button onClick="location.href='{{ url }}'" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" title='{{form_close_caption}}' value='Close'>
<!--
<input class="btn btn-sm btn-close mr-2" type=button 
data-dismiss="modal" 
aria-label="Close" 
data-toggle="tooltip" title='{{form_close_caption}}' value='Close'>
-->
{% endif %}
<!--END:form_close_button.html-->
