<!-- BEGIN:splash form wrapper -->
{% if not splashform_module %}
{% set splashform_module='' %}
{%endif%}

{% if splashform_form %}
{% set splashform_formfile = include_files(splashform_form,type='FORM',module=splashform_module,language=CURRENT_LANGUAGE) %}
{%endif%}
<div class="modal fade" id="{{splashform_divid}}" tabindex="-1" role="dialog" aria-labelledby="{{splashform_aria_labelledby}}">
    <div class="modal-dialog modal-dialog-slideout modal-md modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content border border-light splash_form {{splashform_class}}" style="width:fit-content">
                {% if splashform_width %}
                <div style="width:{{splashform_width}}">
                {% endif %}
            {% include splashform_formfile ignore missing %}
            {% if splashform_width %}
                </div>
            {% endif %}
        </div> 
    </div>
</div>
<!-- END:splash form wrapper -->
