{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% set userprofile_is_active='active' %}
{% set userprofile_show='active show' %}
{% set profilechange_is_active='' %}
{% set profilechange_show='' %}
{% set passwordchange_is_active='' %}
{% set passwordchange_show='' %}
{% set avatarupload_is_active='' %}
{% set avatarupload_show='' %}
{% set mobileconfirmation_is_active='' %}
{% set mobileconfirmation_show='' %}

{% if activeTAB=='userprofilechange' %}
{% set profilechange_is_active='active' %}
{% set profilechange_show='active show' %}
{% set userprofile_is_active='' %}
{% set userprofile_show='' %}
{%endif%}
{% if activeTAB=='passwordchange' %}
{% set passwordchange_is_active='active' %}
{% set passwordchange_show='active show' %}
{% set userprofile_is_active='' %}
{% set userprofile_show='' %}
{%endif%}
{% if activeTAB=='avatarupload' %}
{% set avatarupload_is_active='active' %}
{% set avatarupload_show='active show' %}
{% set userprofile_is_active='' %}
{% set userprofile_show='' %}
{%endif%}
{% if activeTAB=='mobileconfirmation' %}
{% set mobileconfirmation_is_active='active' %}
{% set mobileconfirmation_show='active show' %}
{% set userprofile_is_active='' %}
{% set userprofile_show='' %}
{%endif%}
{% if activeTAB=='emailconfirmation' %}
{% set emailconfirmation_is_active='active' %}
{% set emailconfirmation_show='active show' %}
{% set userprofile_is_active='' %}
{% set userprofile_show='' %}
{%endif%}

<div class="d-flex flex-column">
    <!-- Nav tabs -->
    <div class="">
        <ul class="nav nav-tabs " role="tablist">
            <li class="nav-item {{userprofile_is_active}}"><a class="nav-link authorization-page-nav-link {{userprofile_show}}" href="#userprofile" data-toggle="tab">User Profile</a></li>
            <li class="nav-item {{profilechange_is_active}}"><a class="nav-link authorization-page-nav-link {{profilechange_show}}" href="#profilechange" data-toggle="tab">Change Profile</a></li>
            <li class="nav-item {{passwordchange_is_active}}"><a class="nav-link authorization-page-nav-link {{passwordchange_show}}" href="#passchange" data-toggle="tab">Change Password</a></li>
            {% if avatarupload_is_active %}
            <li class="nav-item {{avatarupload_is_active}}"><a class="nav-link authorization-page-nav-link {{avatarupload_show}}" href="#uploadpicture" data-toggle="tab">Upload Your Picture</a></li>
            {% endif %}
            {% if mobileconfirmation_is_active %}
            <li class="nav-item {{mobileconfirmation_is_active}}"><a class="nav-link authorization-page-nav-link {{mobileconfirmation_show}}" href="#mobileconfirmation" data-toggle="tab">Confirm Mobile</a></li>
            {% endif %}
            {% if emailconfirmation_is_active %}
            <li class="nav-item {{emailconfirmation_is_active}}"><a class="nav-link authorization-page-nav-link {{emailconfirmation_show}}" href="#mobileconfirmation" data-toggle="tab">Confirm Mobile</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content border-left border-right border-bottom">
        <!-- form 1 userprofile-readonly -->
        <div id="userprofile" class="tab-pane fade {{userprofile_show}} mt-2 ml-2 mr-2">
            <div class="d-flex justify-content-center">
                <div class="">
                    {% include include_files('form_userprofile.html',type='FORM',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                </div>
            </div>
        </div>

        <!-- form 2 profile change-->
        <div id="profilechange" class="tab-pane fade {{profilechange_show}} mt-2 ml-2 mr-2">
            <div class="d-flex justify-content-center">
                <div class="">
                    {% include include_files('form_userprofile_change.html',type='FORM',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                </div>
            </div>
        </div>

        <!-- form 3 password change-->
        <div id="passchange" class="tab-pane fade {{passwordchange_show}} mt-2 ml-2 mr-2">
            <div class="d-flex justify-content-center">
                <div class="">
                    {% include include_files('form_password_change.html',type='FORM',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                </div>
            </div>
        </div>
        <!-- form 4 upload image-->
        <div id="uploadpicture" class="tab-pane fade {{avatarupload_show}}">
            <div class="d-flex justify-content-start xauthorization-form xtabform-borders">
                <div class="">
                    {% include include_files('form_avatar_upload.html',type='FORM',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                </div>
            </div>
        </div>
        <!-- form 9 upload image-->
        <div id="mobileconfirmation" class="tab-pane fade {{mobileconfirmation_show}}  border border-top-0">
            <div class="d-flex justify-content-start xauthorization-form xtabform-borders">
                <div class="">
                    {% include include_files('form_mobile_confirmation.html',type='FORM',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                </div>
            </div>
        </div>
    </div>
</div>