{% set form_title='login' %}
{% set form_onclose_url='' %}

<form class="" id="LoginForm" action="{{ url_for('authorization.loginForm') }}" method="post" role="form" autocomplete="on" novalidate>
    <fieldset>
        {{ loginform.hidden_tag() }}
        <!--header-->
        <div class="modal-header align-items-center">
                {% include include_files('form_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% include include_files('form_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        </div>
    
        <!--body-->
        <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="p-0">
                    {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}
                    <div class="p-0 left">
                        <!--===================================================-->
                        <!--
                        <div class="form-group d-flex flex-column">
                            {{ loginform.eyecatch.label }}
                            {{ loginform.eyecatch(size=32, class="form-control input-style") }}
                            {% for error in loginform.eyecatch.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    -->
                        <div class="form-group d-flex flex-column">
                            {{ loginform.email.label }}
                            {{ loginform.email(size=32, class="form-control input-style") }}
                            {% for error in loginform.email.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            {{ loginform.password.label }}
                            {{ loginform.password(size=32, class="form-control input-style") }}
                            {% for error in loginform.password.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex justify-content-start">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    {{loginform.rememberMe(class="form-checkbox", Style="margin-top: -1px; vertical-align: middle;")}}
                                </div>
                                <div class="d-flex align-items-center ml-1">
                                    <p class="checkbox-label p-0 m-0">Remember Me</p>
                                </div>
                            </div>
                            <div class="ml-auto d-flex align-items-center">
                                {{loginform.forgetPassword(class="btn btn-info btn-sm button_submit")}}
                            </div>
                            {% for error in loginform.rememberMe.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex justify-content-start align-items-center">
                            <div class="d-flex">
                                {{ loginform.recaptcha }}
                                {% for error in loginform.recaptcha.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-start align-items-center">
                            <div class="align-self-center text-in-form" style="font-size:75%">Don't have an account yet?&nbsp;</div>
                            <div class="align-self-center"><a class="btn btn-info btn-sm button_submit" data-toggle="tooltip" title="Register" href="{{url_for('authorization.registrationForm')}}">Sign up now!</a></div>
                        </div>
                        <!--===================================================-->
                    </div>
                </div>
            </div>
        </div>

                   <!-- form footer -->
                   <div class="modal-footer d-flex justify-content-end">
                        <div class="">
                            {% include include_files('form_close_button.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
                        </div>
                        <div class="">
                            {{loginform.submit(class="btn btn-sm btn-warning button_submit")}}
                        </div>
                    </div>

    </fieldset>
</form>