{% if alreadyconfirmed %}
{% set alreadyconfirmedStr='disable' %}
{% endif %}
<div class="d-flex flex-column authorization-form" style="padding-left:10px;padding-right:10px;">
    {#% include [language_fullpathfile('secure_info_general.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('secure_info_general.html','COMPONENT')] %#}
    <div class="clearfix"></div>
    <!--form is not validated locally on the browser (novalidate option) in order to use the forget password button-->
    <form id="mobileconfirm" action="{{ url_for('authorization.mobileconfirm') }}" method="post" role="form" autocomplete="on" class="subscriber_form" novalidate>
        <fieldset>
            {{ mobileconfirmation_form.hidden_tag() }}
            <div class="form-group d-flex flex-column">
                {{ mobileconfirmation_form.mobile.label }}
                {{ mobileconfirmation_form.mobile(size=32, class="form-control input-style") }}
                {% for error in mobileconfirmation_form.mobile.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group d-flex flex-column">
                {{ mobileconfirmation_form.mobile_token.label }}
                {{ mobileconfirmation_form.mobile_token(size=32, class="form-control input-style") }}
                {% for error in mobileconfirmation_form.mobile_token.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex justify-content-center xp-0 xm-0 xborder xborder-danger">
                {% if alreadyconfirmed %}
                <div>
                    <input class="btn btn-warning btn-block" type=button onClick="location.href='{{ url_for('authorization.userprofile')}}'" value='Your Profile'>
                </div>
                {% else %}
                <div class="mr-2">
                    <input class="btn btn-default btn-block" type=button onClick="location.href='{{ url_for('authorization.userprofile')}}'" value='Your Profile'>
                </div>
                <div class="mr-2">
                    {{mobileconfirmation_form.submit(class="btn btn-warning btn-block")}}
                </div>
                <div>
                    <input class="btn btn-warning btn-block" type=button onClick="location.href='{{ url_for('authorization.send_confirmation_sms')}}'" value='Generate New Confirmation Code'>
                </div>
                {% endif %}
            </div>
            {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT','authorization'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}

        </fieldset>
    </form>
</div>