{% set secure_text='Your information is secured and protected.' %}
{% set include_mcafee='Y' %}
<form class="" id="RegistrationForm" action="{{ url_for('authorization.registrationForm') }}" method="post" role="form" autocomplete="on" novalidate>
    <fieldset>
        {{ registrationform.hidden_tag() }}

        <!--header-->
        <div class="modal-header align-items-center">
            <h1 class="modal-title mx-auto" id="registration_modal_form_Label">Registration</h1>
            {% include include_files('splashform_close_button.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
        </div>

        <!--body-->
        <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="p-0">
                    {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT','authorization'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}
                    <div class="p-0 left">
                        <!--===================================================-->
                        <div class="d-flex flex-row justify-content-between">
                            <div class="form-group d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{registrationform.firstName.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if registrationform.firstName.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ registrationform.firstName(size=24, class="form-control input-style ") }}
                                {% for error in registrationform.firstName.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group d-flex flex-column ml-1">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{ registrationform.lastName.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if registrationform.lastName.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ registrationform.lastName(size=24, class="form-control input-style") }}
                                {% for error in registrationform.lastName.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group d-flex flex-column">
                            {{ registrationform.company.label }}<span style="color:red">{% if registrationform.company.flags.required %}*{% endif %}</span>
                            {{ registrationform.company(size=60, class="form-control input-style") }}
                            {% for error in registrationform.company.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            {{ registrationform.jobTitle.label }}<span style="color:red">{% if registrationform.jobTitle.flags.required %}*{% endif %}</span>
                            {{ registrationform.jobTitle(size=60, class="form-control input-style") }}
                            {% for error in registrationform.company.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div>
                                    {{ registrationform.email.label }}
                                </div>
                                <div>
                                    <span style="color:red">{% if registrationform.email.flags.required %}*{% endif %}</span>
                                </div>
                            </div>
                            {{ registrationform.email(size=60, class="form-control input-style") }}
                            {% for error in registrationform.email.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div>
                                    {{ registrationform.password.label }}
                                </div>
                                <div>
                                    <span style="color:red">{% if registrationform.password.flags.required %}*{% endif %}</span>
                                </div>
                            </div>
                            {{ registrationform.password(size=32, class="form-control input-style") }}
                            {% for error in registrationform.password.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div>
                                    {{ registrationform.confirm_password.label }}
                                </div>
                                <div>
                                    <span style="color:red">{% if registrationform.confirm_password.flags.required %}*{% endif %}</span>
                                </div>
                            </div>
                            {{ registrationform.confirm_password(size=32, class="form-control input-style") }}
                            {% for error in registrationform.confirm_password.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>


                        <div class="form-group d-flex justify-content-start">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex">
                                        {{ registrationform.agreeTerms(class="input-style")}}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span style="color:red">{% if registrationform.agreeTerms.flags.required %}*{% endif %}</span>
                                        <div class="">
                                            <p class="checkbox-text text-wrap" style="max-width:330px">
                                                    by providing the above information, I agree to the <a href="{{url_for('terms_and_conditions')}}" target="_blank" rel="noopener">Terms of Use</a> and the <a href="{{url_for('privacy_policy')}}" target="_blank" rel="noopener">Privacy Policy</a> of {{WEBSITE_TITLE}}.
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                {% for error in registrationform.agreeTerms.errors %}
                                <span class="text-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
    
                        <div class="form-group d-flex justify-content-start">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    {{ registrationform.mailingListSignUp(class="input-style")}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <span style="color:red">{% if registrationform.mailingListSignUp.flags.required %}*{% endif %}</span>
                                    <div class="">
                                        <p class="checkbox-text text-wrap" style="max-width:330px">
                                            Sign up for weekly industry insights, updates and perspectives from {{WEBSITE_TITLE}}.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% for error in registrationform.mailingListSignUp.errors %}
                            <span class="text-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex justify-content-start align-items-center">
                            <div class="d-flex">
                                {{ registrationform.recaptcha(style="width:200px") }}
                                {% for error in registrationform.recaptcha.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <!--===================================================-->
                    </div>
                </div>
            </div>
        </div>

        <div class="xauthorization-page-line"></div>

        <!--footer-->
        <div class="modal-footer d-flex justify-content-start">
            <div class="">
                {% if not(current_user.is_authenticated) %}
                <div class="d-flex mt-0 mb-0 p-0">
                    <div class="align-self-center">Already Registered?&nbsp;</div>
                    <div class="align-self-center"><a class="btn btn-default btn-sm mybtn-submit" href="{{url_for('authorization.login')}}">Login</a></div>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-grow-1 justify-content-end">
                <div class="mr-2">
                    <button type="button" class="btn btn-sm btn-default mybtn-close" data-dismiss="modal">Close</button>
                </div>
                <div class=''>
                    <button type="submit" class="btn btn-sm mybtn-orange mybtn-submit">Submit</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>