<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login_modal_form">
    Login
</button>
-->
<!-- Modal -->
{% if splashform %}
<div class="modal fade" id="login_modal_form" tabindex="-1" role="dialog" aria-labelledby="login_modal_form_Label">
    {% else %}
    <div class="border border-info p-0" id="login_modal_form" tabindex="-1" role="xdialog" aria-labelledby="xlogin_modal_form_Label">
        {% endif %}
        <div class="modal-dialog xmodal-dialog-centered border border-danger" role="document">
            <div class="modal-content align-self-center border border-light" style="width:fit-content">
                <!--form is not validated locally on the browser (novalidate option) in order to use the forget password button-->
                <form class="subscriber_form" id="forgetpassword" action="{{ url_for('authorization.forgetpassword',email=form.email.data) }}" method="post" role="form" autocomplete="on" novalidate>
                    <fieldset>
                        {{ form.hidden_tag() }}
                        <div class="modal-header align-items-center">
                            <h4 class="modal-title mx-auto" id="login_modal_form_Label">Login</h4>
                            {% if splashform %}
                            <button type="button button-info" class="float-right close splash_form_close_button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {% endif %}
                        </div>

                        <!--separation line-->
                        <div class="border border-warning border-top-0 border-left-0 border-right-0"></div>

                        <div class="modal-body">
                            <div class="d-flex flex-column">
                                <div class="p-0">
                                    {% include [language_fullpathfile('messages_display_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_exceptfielderrors.html','COMPONENT')] %}
                                    <div class="p-0 left">
                                        <!--===================================================-->
                                        <div class="form-group d-flex flex-column">
                                            {{ form.email.label }}
                                            {{ form.email(size=32, class="form-control input-style") }}
                                            {% for error in form.email.errors %}
                                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>

                                        <div class="form-group d-flex justify-content-center align-items-center">
                                            <div class="d-flex">
                                                {{ form.recaptcha }}
                                                {% for error in form.recaptcha.errors %}
                                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!--===================================================-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--separation line-->
                        <div class="border border-warning border-top-0 border-left-0 border-right-0"></div>

                        {% if splashform %}
                        <div class="modal-footer d-flex justify-content-start">
                            <div class="d-flex flex-grow-1 justify-content-end mt-0 mb-0 p-0">
                                <div class="mr-2">
                                    <button type="button" class="btn btn-default p-1" data-dismiss="modal">Close</button>
                                </div>
                                <div>
                                    {{form.submit(class="btn btn-warning btn-block")}}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="modal-footer d-flex justify-content-center">
                            {{form.submit(class="btn btn-warning btn-block")}}
                        </div>
                        {% endif %}

                    </fieldset>
                </form>
            </div>
        </div>
    </div>