<div class="d-flex flex-column">
    <!--form is not validated locally on the browser (novalidate option) in order to use the forget password button-->
    <form id="formProfileChange" class="input-form" action="{{ url_for('authorization.userprofilechange') }}" method="post" role="form" autocomplete="on" validate>
        <fieldset>
            {{ userprofilechange_form.hidden_tag() }}

            <div class="form-group d-flex flex-column">
                <div class="d-flex flex-row">
                    <div>
                        {{userprofilechange_form.firstName.label }}
                    </div>
                    <div>
                        <span style="color:red">{% if userprofilechange_form.firstName.flags.required %}*{% endif %}</span>
                    </div>
                </div>
                {{ userprofilechange_form.firstName(size=32, class="form-control input-style") }}
                {% for error in userprofilechange_form.firstName.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex flex-column">
                <div class="d-flex flex-row">
                    <div>
                        {{ userprofilechange_form.lastName.label }}
                    </div>
                    <div>
                        <span style="color:red">{% if userprofilechange_form.lastName.flags.required %}*{% endif %}</span>
                    </div>
                </div>
                {{ userprofilechange_form.lastName(size=32, class="form-control input-style") }}
                {% for error in userprofilechange_form.lastName.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex flex-column">
                {{ userprofilechange_form.company.label }}<span style="color:red">{% if userprofilechange_form.company.flags.required %}*{% endif %}</span>
                {{ userprofilechange_form.company(size=60, class="form-control input-style") }}
                {% for error in userprofilechange_form.company.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex flex-column">
                {{ userprofilechange_form.jobTitle.label }}<span style="color:red">{% if userprofilechange_form.jobTitle.flags.required %}*{% endif %}</span>
                {{ userprofilechange_form.jobTitle(size=60, class="form-control input-style") }}
                {% for error in userprofilechange_form.company.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex flex-column">
                <div class="d-flex flex-row">
                    <div>
                        {{ userprofilechange_form.email.label }}
                    </div>
                    <div>
                        <span style="color:red">{% if userprofilechange_form.email.flags.required %}*{% endif %}</span>
                    </div>
                </div>
                {{ userprofilechange_form.email(size=60, class="form-control input-style") }}
                {% for error in userprofilechange_form.email.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex flex-column">
                {{ userprofilechange_form.userName.label }}
                {{ userprofilechange_form.userName(size=60, class="form-control input-style") }}
                {% for error in userprofilechange_form.userName.errors %}
                <span class="text-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex flex-column">
                {{ userprofilechange_form.mobile.label }}
                {{ userprofilechange_form.mobile(size=32, class="form-control input-style") }}
                {% for error in userprofilechange_form.mobile.errors %}
                <span class="text-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group d-flex justify-content-start">
                <div class="d-flex align-items-center">
                    <div class="d-flex">
                        {{ userprofilechange_form.mailingListSignUp(class="input-style")}}
                    </div>
                    <div class="d-flex align-items-center">
                        <span style="color:red">{% if userprofilechange_form.mailingListSignUp.flags.required %}*{% endif %}</span>
                        <div class="">
                            <p class="checkbox-text text-wrap" style="max-width:330px">
                                Sign up for weekly industry insights, updates and perspectives from {{WEBSITE_TITLE}}.
                            </p>
                        </div>
                    </div>
                </div>
                {% for error in userprofilechange_form.mailingListSignUp.errors %}
                <span class="text-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex justify-content-center p-0 m-0">
                {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT','authorization'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}
            </div>
        <!-- form footer -->
        <div class="modal-footer d-flex justify-content-end">
                <div class="">
                </div>
                <div class="">
                        {{userprofilechange_form.submit(class="btn mybtn-orange mybtn-submit btn-sm mybtn-submit")}}
                    </div>
            </div>

        </fieldset>

    </form>
</div>