{% set form_title='upload your avatar' %}
{% set form_onclose_url=url_for('authorization.userprofile') %}
<form class="" id="uploadavatar" action="{{ url_for('authorization.upload_avatar') }}" method="post" enctype="multipart/form-data" role="form" autocomplete="on" novalidate>
    <fieldset>
        {{ avatarupload_form.hidden_tag() }}

        <div class="modal-header align-items-center">
            {% include include_files('form_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
            {% include include_files('form_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        </div>

        <div class="modal-body">
            <div class="d-flex flex-column ">
                <div class="d-flex justify-content-between p-1">
                    {% if current_user.avatarImageFile %}
                    {% set avatarImageFile=current_user.avatarImageFile %}
                    {% else %}
                    {% set avatarImageFile='/static/images/icon_avatar_default.png' %}
                    {% endif %}
                    <img style="width:4rem;height:4rem" class="rounded-circle mx-auto d-block avatar_image border border-lightgray" alt="" src='{{avatarImageFile}}'>
                </div>
                <div class="p-0">
                    {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}
                    <div class="p-0 left">
                        <!--===================================================-->

                        <!-- empty avatar selection-->
                        <div class="form-group d-flex flex-row w-100 justify-content-between">
                            <div class="mr-2">
                                <input type="radio" Style="margin-top: -1px; vertical-align: middle;" id="emptyAvatarType" name="emptyAvatarType" value="F"> empty female avatar
                            </div>
                            <div class="ml-2">
                                <input type="radio" Style="margin-top: -1px; vertical-align: middle;" id="emptyAvatarType" name="emptyAvatarType" value="M"> empty male avatar
                            </div>
                        </div>

                        <!-- upload a picture-->
                        <div class="form-group d-flex flex-row w-100 justify-content-between">
                            {{ avatarupload_form.photo(class='upload_file') }}
                            {% for error in avatarupload_form.photo.errors %}
                            <span class="text-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <!-- moderate a photo with a 3rd party tool-->
                        <div class="form-group d-flex flex-row w-100 justify-content-between">
                            <p class="text-note p-0 m-0 small">Image moderation with&nbsp;<a target="_blank" href="https://sightengine.com/">Sightengine</a></p>
                        </div>

                        <!--===================================================-->
                    </div>
                </div>
            </div>
        </div>

        <!-- form footer -->
        <div class="modal-footer d-flex justify-content-end">
            <div class="">
                {% include include_files('form_close_button.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
            </div>
            <div class="">
                {{avatarupload_form.submit(class="btn btn-sm btn-warning button_submit")}}
            </div>
        </div>

    </fieldset>
</form>