<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login_modal_form">
    Login
</button>
-->
<!-- Modal -->
<div class="modal fade" id="login_modal_form" tabindex="-1" role="dialog" aria-labelledby="login_modal_form_Label">
    <div class="modal-dialog xmodal-dialog-slideout modal-md modal-dialog-centered" role="document">
        <div class="modal-content border border-light" style="xwidth:fit-content">
            {% include [language_fullpathfile('form_login.html',CURRENT_LANGUAGE,'FORM','authorization'), fullpathfile('form_login.html','FORM','authorization')] %}
        </div>
    </div>
</div>