{% if alreadyconfirmed %}
{% set alreadyconfirmedStr='disable' %}
{% endif %}
<form class="administration-page" id="mobileconfirm" action="{{ url_for('authorization.mobileconfirm') }}" method="post" role="form" autocomplete="on" novalidate>
    <fieldset>
        {{ mobileconfirmation_form.hidden_tag() }}
        <div class="modal-header align-items-center">
            <h1 class="modal-title mx-auto" id="login_modal_form_Label">Mobile Confirmation</h1>
            <button type="button button-info" class="float-right close splash_form_close_button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="administration-page-line"></div>

        <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="p-0">
                    {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}
                    <div class="p-0 left">
                        <!--===================================================-->
                        <div class="form-group d-flex flex-column">
                            {{ mobileconfirmation_form.mobile.label }}
                            {{ mobileconfirmation_form.mobile(size=32, class="form-control input-style") }}
                            {% for error in mobileconfirmation_form.mobile.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            {{ mobileconfirmation_form.mobile_token.label }}
                            {{ mobileconfirmation_form.mobile_token(size=32, class="form-control input-style") }}
                            {% for error in mobileconfirmation_form.mobile_token.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <!--===================================================-->
                    </div>
                </div>
            </div>
        </div>

        <div class="administration-page-line"></div>

        <div class="modal-footer d-flex justify-content-end">
            {% if alreadyconfirmed %}
            <div>
                <input class="btn btn-sm mybtn-orange mybtn-submit btn-block" type=button onClick="location.href='{{ url_for('authorization.userprofile')}}'" value='Close'>
            </div>
            {% else %}
            <div class="mr-2">
                <input class="btn btn-default btn-block" type=button onClick="location.href='{{ url_for('authorization.userprofile')}}'" value='Cancel'>
            </div>
            <div class="mr-2">
                {{mobileconfirmation_form.submit(class="btn btn-sm mybtn-orange mybtn-submit btn-block")}}
            </div>
            <div>
                <input class="btn btn-sm mybtn-orange mybtn-submit btn-block" type=button onClick="location.href='{{ url_for('authorization.send_confirmation_sms')}}'" value='Generate New Confirmation Code'>
            </div>
            {% endif %}
        </div>
    </fieldset>
</form>