<form class="" id="formUserEdit" action="{{url_for('administration.useredit', action=useredit_form.action.data, id=useredit_form.id.data)}}" method="post" role="form" autocomplete="on" validate>
    <fieldset>
        {{ useredit_form.hidden_tag() }}
        <!--header-->
        {% set form_title='User' %}
        {% set form_icon="fas fa-user-alt" %}
        {% set form_close_url=url_for("administration.usersadmin",action_tab='users') %}
        {% set form_action=useredit_form.action.data.lower() %}
        <!--header-->
        <div class="modal-header align-items-center pr-0">
            {% include include_files('form_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
            {% include include_files('form_action_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
            &nbsp;
            {% include include_files('form_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        </div>

        <!--body-->
        <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="p-0">
                    {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT',active_module)] %}
                    <div class="p-0 left">
                        <!--===================================================-->
                        <div class="form-group d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div>
                                    {{ useredit_form.email.label }}
                                </div>
                                <div>
                                    <span style="color:red">{% if useredit_form.email.flags.required %}*{% endif %}</span>
                                </div>
                            </div>
                            {{ useredit_form.email(size=60, class="form-control input-style") }}
                            {% for error in useredit_form.email.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div>
                                    {{useredit_form.firstName.label }}
                                </div>
                                <div>
                                    <span style="color:red">{% if useredit_form.firstName.flags.required %}*{% endif %}</span>
                                </div>
                            </div>
                            {{ useredit_form.firstName(size=32, class="form-control input-style") }}
                            {% for error in useredit_form.firstName.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div>
                                    {{ useredit_form.lastName.label }}
                                </div>
                                <div>
                                    <span style="color:red">{% if useredit_form.lastName.flags.required %}*{% endif %}</span>
                                </div>
                            </div>
                            {{ useredit_form.lastName(size=32, class="form-control input-style") }}
                            {% for error in useredit_form.lastName.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            {{ useredit_form.userName.label }}
                            {{ useredit_form.userName(size=60, class="form-control input-style") }}
                            {% for error in useredit_form.userName.errors %}
                            <span class="text-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            {{ useredit_form.mobile.label }}
                            {{ useredit_form.mobile(size=32, class="form-control input-style") }}
                            {% for error in useredit_form.mobile.errors %}
                            <span class="text-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            {{ useredit_form.company.label }}<span style="color:red">{% if useredit_form.company.flags.required %}*{% endif %}</span>
                            {{ useredit_form.company(size=60, class="form-control input-style") }}
                            {% for error in useredit_form.company.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            {{ useredit_form.jobTitle.label }}<span style="color:red">{% if useredit_form.jobTitle.flags.required %}*{% endif %}</span>
                            {{ useredit_form.jobTitle(size=60, class="form-control input-style") }}
                            {% for error in useredit_form.jobTitle.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group d-flex flex-column">
                            {{ useredit_form.department.label }}<span style="color:red">{% if useredit_form.department.flags.required %}*{% endif %}</span>
                            {{ useredit_form.department(size=1, class="form-control input-style") }}
                            {% for error in useredit_form.department.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group d-flex flex-column">
                            {{ useredit_form.roles.label }}<span style="color:red">{% if useredit_form.roles.flags.required %}*{% endif %}</span>
                            {{ useredit_form.roles(size=5, multiple=True, class="form-control input-style") }}
                            {% for error in useredit_form.roles.errors %}
                            <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <!--===================================================-->
                    </div>
                </div>
            </div>
        </div>
        <!-- form footer -->
        <div class="modal-footer d-flex justify-content-end">
            <div class="mr-2">
                {% include include_files('form_close_button.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
            </div>
            <div class="">
                {% if useredit_form.action.data.lower() in ['delete'] %}
                {{useredit_form.submit(class="btn btn-sm btn-danger text-white",value='Delete')}}
                {% elif useredit_form.action.data.lower() in ['add'] %}
                {{useredit_form.submit(class="btn btn-sm btn-info",value='Add')}}
                {% else %}
                {{useredit_form.submit(class="btn btn-sm btn-warning",value="Update")}}
                {% endif %}
            </div>
        </div>
    </fieldset>
</form>