{% set ns = namespace() %}
{% set ns.pagelinks=0 %}
{% for pageLink in LinkPagesArray %}
{% if pageLink[0] %}
{% set ns.pagelinks=ns.pagelinks+1 %}
{% endif %}
{% endfor %}

<div class="d-flex flex-column justify-content-start bg-white">
    <!--1:page-top-navigation-line-->
    <div class="d-flex justify-content-end">
        {% include [language_fullpathfile('top_navigation_line.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('top_navigation_line.html','COMPONENT')] %}
    </div>

    <!--2:page-top-image-or-carousel-->
    <div class="d-flex justify-content-center">
        {% if page_top_image_file %}
        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_top.html",execution_mode,design_type,design_version) %}
        {% endif %}
        {% if language_page_top_carousel_file or page_top_carousel_file %}
        {% include [language_page_top_carousel_file, page_top_carousel_file] %}
        {% endif %}
    </div>

    <!--3:page-content-->
    <div class="d-flex flex-column w-100 justify-content-center p-0 m-0">
        <div class="d-flex justify-content-center">
            {% if page_logo %}
            <div class="align-self-center">
                <img src={{page_image}} class="page-image_icon rounded-circle" alt="{{page_image}}" />
            </div>
            {% endif %}
            {% if page_title %}
            <div class="p-1 align-self-center">
                <h1 class="page_title">{{page_title}}</h1>
            </div>
            {% endif %}
        </div>

        {% if ns.pagelinks>0 %}
        <div class="d-flex justify-content-end">
            <nav class="navbar navbar-expand bg-transparent links_menu">
                <!-- Links -->
                <ul class="navbar-nav">
                    {% for pageLink in LinkPagesArray %}
                    {% if pageLink[0] %}
                    {% if pageLink[3]=='button' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for(pageLink[0])}}" class="button_intext">{{pageLink[1]}}&raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for(pageLink[0])}}" class="">{{pageLink[1]}}&raquo;
                        </a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% endif %}
        <!--4:messages-->
        <div class="d-flex bg-white justify-content-center align-items-center">
            {% include [language_fullpathfile('messages_display_excepterrors.html',CURRENT_LANGUAGE,'COMPONENT'),fullpathfile('messages_display_excepterrors.html','COMPONENT')] %}
        </div>
        <div class="d-flex justify-content-center">
            {% include [language_page_file(content_page,CURRENT_LANGUAGE), page_file(content_page)] %}
        </div>
    </div>
    <!--4:page-bottom-image-or-carousel-->
    <div class="d-flex justify-content-center">
        {% if page_bottom_image %}
        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_bottom.html",execution_mode,design_type,design_version) %}
        {% endif %}
        {% if language_page_bottom_carousel_file or page_bottom_carousel_file %}
        {% include [language_page_bottom_carousel_file, page_bottom_carousel_file] %}
        {% endif %}
    </div>
</div>