<!--summary-pages-->
<div class="d-flex flex-wrap bg-light border border-primary w-100">
    <div class="d-flex col-4 p-0 border">
        <div class="flex-column summary-cell w-100">
            <div class="">
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasdasdads
                adad
            </div>
            <div>
                <p style='text-align:right'><a href="http://flask.pocoo.org/" class="button_learnmore">Learn more
                        &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="d-flex col-4 p-0 border">
        <div class="flex-column summary-cell w-100">
            <div class="">
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasd
                adad
            </div>
            <div>
                <p style='text-align:right'><a href="http://flask.pocoo.org/" class="button_learnmore">Learn more
                        &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="d-flex col-4 p-0 border">
        <div class="flex-column summary-cell w-100">
            <div class="">
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adad
            </div>
            <div>
                <p style='text-align:right'><a href="http://flask.pocoo.org/" class="button_learnmore">Learn more
                        &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="d-flex col-6 p-0 border">
        <div class="flex-column summary-cell w-100">
            <div class="">
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adad
            </div>
            <div>
                <p style='text-align:right'><a href="http://flask.pocoo.org/" class="button_learnmore">Learn more
                        &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="d-flex col-6 p-0 border">
        <div class="flex-column summary-cell w-100">
            <div class="">
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adad
            </div>
            <div>
                <p style='text-align:right'><a href="http://flask.pocoo.org/" class="button_learnmore">Learn more
                        &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="d-flex col-12 p-0 border">
        <div class="flex-column summary-cell w-100">
            <div class="">
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adsasdasdadadsasdadasd
                adsasdasdadadsasdadasdasdads
                adad
            </div>
            <div>
                <p style='text-align:right'><a href="http://flask.pocoo.org/" class="button_learnmore">Learn more
                        &raquo;</a></p>
            </div>
        </div>
    </div>
</div>