<div class="bg-white p-0">
    <nav class="navbar navbar-expand-sm navbar-light w-100 justify-content-between p-0">
        <div id="bottomnavigation" class="collapse navbar-collapse p-0 footer_menu justify-content-center">
            <ul class="navbar-nav">
                {% if previous_page %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tooltip" title="" data-placement="top" href="{{url_for(previous_page)}}">&laquo; Previous</a>
                    </li>
                {% endif %}
                <li class="{{register_active}} nav-item">
                    <a class="nav-link" data-toggle="tooltip" title="" data-placement="top" rel="nofollow" href="#" onclick="window.scrollTo(0,0); return false;">Top &uarr;</a>
                </li>
                {% if next_page %}
                    <li class="{{register_active}} nav-item">
                        <a class="nav-link" data-toggle="tooltip" title="" data-placement="top"  <a href="{{url_for(next_page)}}">Next &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>