<div>
    <nav class="navbar navbar-expand-md bg-light navbar-light justify-content-center p-0 m-0">
        <!-- Toggler/collapsibe Button-->
        <div class="">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#footerNavBar" aria-controls="footerNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- FOOTER MENU  -->
        <div id="footerNavBar" class="collapse navbar-collapse justify-content-center">
            <!--1st LINE-->
            <div class="d-flex justify-content-center footer_menu">
                <div class="col-sm-12 justify-content-center align-self-center">
                    <ul class="navbar-nav ml-auto font-weight-light justify-content-center">
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('privacy_policy')}}">Privacy Policy</a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('terms_and_conditions')}}">Terms and Conditions</a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('cookies_policy')}}">Cookies Policy</a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('contact')}}">Contact Info</a></li>
                    </ul>
                </div>
                <!--BREAK LINE-->
                <div class="d-flex d-none d-md-block justify-content-center border-left border-warning"></div>
                <!--2nd LINE-->
                <div class="col-sm-12 justify-content-center align-self-center social_media_menu">
                    {% include [language_fullpathfile('social_media_menu.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('social_media_menu.html','COMPONENT')] %}
                </div>
            </div>
        </div>
    </nav>
</div>
