<div class="d-flex col-sm-12 m-0 p-0 m-0">
    <div class="d-flex flex-column ml-auto flex-grow-1">
        <div class="d-flex align-self-center">
            <div class="d-flex p-0 m-0">
                {% if page_image %}
                <img src={{page_image}} class="page-image_icon" />
                {% endif %}
            </div>
            <div class="d-flex">
                {% if page_title %}
                <div class="align-self-center">
                    <h1 class="page_title">{{page_title}}</h1>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="d-flex ml-auto align-items-center align-self-end">
            {% if page_image or page_title%}
            <span style="margin-top:-30px">
            {% else %}
            <span>
            {% endif %}
            {% if link_pages > 0 %}
                    <nav class="navbar navbar-expand bg-transparent align-items-center pt-0 pb-0 pr-0 links_menu">
                        <ul class="navbar-nav">
                            {% for pageLink in LinkPagesArray %}
                            {% if pageLink[0] %}
                            {% if pageLink[3]=='button' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for(pageLink[0])}}" class="button_intext">{{pageLink[1]}}&raquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for(pageLink[0])}}" class="">{{pageLink[1]}}&raquo;
                                </a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            <!--page top button links
                            {% if previous_page %}
                            <li class="xnav-item mr-2">
                                <a data-toggle="tooltip" title="{{previous_page}}" href="{{url_for(previous_page)}}" class="button_back">&laquo; previous</a>
                            </li>
                            {% endif %}
                            -->
                            {% if next_page %}
                            <li class="nav-item">
                                <a data-toggle="tooltip" title="{{next_page}}" href="{{url_for(next_page)}}" class="button_learnmore">learn more &raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}

            </span>
        </div>
    </div>
</div>
