                        <!--hidden on large-->
                        <div class="container">
                            <div class="my-3">
                                Current tier / breakpoint:
                                <span class="badge badge-primary d-inline d-sm-none">xs</span> 
                                <span class="badge badge-primary d-none d-sm-inline d-md-none">sm</span> 
                                <span class="badge badge-primary d-none d-md-inline d-lg-none">md</span> 
                                <span class="badge badge-primary d-none d-lg-inline d-xl-none">lg</span> 
                                <span class="badge badge-primary d-none d-xl-inline">xl</span> 
                                (= visible only on this breakpoint)
                            </div>
                            <hr>
                            <span class="d-none d-sm-block">.hidden-xs-down</span>
                            <span class="d-none d-md-block">.hidden-sm-down</span>
                            <span class="d-none d-lg-block">.hidden-md-down</span>
                            <span class="d-none d-xl-block">.hidden-lg-down</span>
                            <div class="w-100 my-2"> <hr> </div>
                            <span class="d-none">.hidden-xs-up</span>
                            <span class="d-sm-none">.hidden-sm-up</span>
                            <span class="d-md-none">.hidden-md-up</span>
                            <span class="d-lg-none">.hidden-lg-up</span>
                            <span class="d-xl-none">.hidden-xl</span>
                            <div class="w-100 my-2"> <hr> </div>
                            <span class="d-none d-sm-block">.hidden-xs (only)</span>
                            <span class="d-block d-sm-none d-md-block">.hidden-sm (only)</span>
                            <span class="d-block d-md-none d-lg-block">.hidden-md (only)</span>
                            <span class="d-block d-lg-none d-xl-block">.hidden-lg (only)</span>
                            <span class="d-block d-xl-none">.hidden-xl (only)</span>
                        </div>
