{% set cookies_alert_showhide="display: none" %}
{% if not ('cookies_consent' in session) or session.get('cookies_consent') != 'YES' %}
{% if session.get('active_module').lower() not in ('website_app.module_administration.routes','website_app.module_authorization.routes') %}
{% set cookies_alert_showhide="" %}
{% endif %}
{% endif %}

<div class="alert alert-warning alert-dismissible text-center m-0 p-1 cookies_consent_alert" style="{{cookies_alert_showhide}}">
  <div class="d-flex flex-row justify-content-start p-0 m-0">
    <div id="cookies_accept_text flex-grow-1">
      <p class="p-0 m-0">
        We use <strong>cookies</strong> to provide social media features and to analyse our traffic.
        We also share information about your use of our site with our social media and analytics partners.
        <span class="text-muted credit">By using our website you are consenting to our use of cookies in accordance with our
          <a href="{{url_for('cookies_policy')}}">cookie policy</a>.</span>
      </p>
    </div>
    <div class="d-flex float-right p-1 m-0 align-self-center">
      {% include include_files('button_close_alert.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
    </div>
  </div>
</div>
  