<div id="cookie_directive_container" class="alert alert-warning alert-dismissible text-center" style="display: none">
  <div id="cookie_accept">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    We use <strong>cookies</strong> to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media and analytics partners. <span class="text-muted credit">By using our website you are consenting to our use of cookies in accordance with our <a href="{{url_for('cookies_policy')}}">cookie policy</a>.</span>
  </div>
</div>
