<!--Current tier / breakpoint:-->
<div class="display_properties d-flex flex-row justify-content-start align-items-center">
    <div class="pr-1">
        <!--(= visible only on this breakpoint)-->
        <span style="font-weight:400" class="badge badge-primary d-inline d-sm-none">xs</span>
        <span style="font-weight:400" class="badge badge-primary d-none d-sm-inline d-md-none">sm</span>
        <span style="font-weight:400" class="badge badge-primary d-none d-md-inline d-lg-none">md</span>
        <span style="font-weight:400" class="badge badge-primary d-none d-lg-inline d-xl-none">lg</span>
        <span style="font-weight:400" class="badge badge-primary d-none d-xl-inline">xl</span>
        <!--display the screen size-->
        <span id="screensize" style="font-weight:400" class="badge badge-info">674</span>
    </div>
</div>