<!--START:page_links_menu-->
<div class="d-flex p-0 m-0 align-items-center justify-content-end">
        {% if DocumentLinkPages > 0 %}
        <nav class="navbar navbar-expand-sm p-0 m-0">
        <ul class="navbar-nav ml-auto justify-content-center">
                <ul class="navbar-nav">
                        {% for pageLink in DocumentLinkPagesArray %}
                        {% if pageLink[0] %}
                        {% if pageLink[3]=='button' %}
                        <li class="nav-item mr-1">
                            <a class="nav-link py-0 px-1 btn btn-outline-info btn-sm" href="{{url_for(pageLink[0])}}">{{pageLink[1]}}&raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item mr-1">
                            <a class="nav-link py-0 px-1 btn btn-outline-info btn-sm" href="{{url_for(pageLink[0])}}">{{pageLink[1]}}&raquo;
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
            </ul>
    </nav>
    {% endif %}
</div>
<!--FINISH:page_links_menu-->
