<!--START:page_links_menu-->
<div class="d-flex p-0 m-0 align-items-center justify-content-end">
        {% if DocumentLinkPages > 0 %}
        <nav class="navbar navbar-expand-sm p-0 m-0">
        <ul class="navbar-nav ml-auto justify-content-center">
                <ul class="navbar-nav">
                        {% for pageLink in DocumentLinkPagesArray %}
                        {% if pageLink[0] %}
                        {% if pageLink[3]=='button' %}
                        <!-- d-none d-sm-block: display from small screens and up -->
                        <li class="nav-item xd-none xd-sm-block">
                            <a class="nav-link link_button button_intext" href="{{url_for(pageLink[0])}}">{{pageLink[1]}}&raquo;
                            </a>
                        </li>
                        {% else %}
                        <!-- d-none d-sm-block: display from small screens and up -->
                        <li class="nav-item xd-none xd-sm-block">
                            <a class="nav-link link_button button_linkpage" href="{{url_for(pageLink[0])}}">{{pageLink[1]}}&raquo;
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <!--
                        {% if previous_page %}
                        <li class="nav-item xd-none xd-sm-block">
                            <a id="prevpage" class="nav-link link_button button_previouspage" data-toggle="tooltip" title="{{previous_page}}" href="{{url_for(previous_page)}}">&laquo;previous</a>
                        </li>
                        {% endif %}
        
                        {% if next_page %}
                        <li class="nav-item">
                            <a id="learnmore" class="nav-link link_button button_learnmore" data-toggle="tooltip" title="{{next_page}}" href="{{url_for(next_page)}}">learn more&raquo;</a>
                        </li>
                        {% endif %}
                    -->
            </ul>
    </nav>
    {% endif %}
</div>
<!--FINISH:page_links_menu-->
