<div class="d-flex p-0 m-0 align-items-center justify-content-end footer_menu">
    <nav class="navbar navbar-expand-xl p-0 m-0">
        <ul class="navbar-nav ml-auto justify-content-center">
            <li class="nav-item"><a data-toggle="tooltip" title="" data-placement="bottom" class="nav-link" href="{{url_for('privacy_policy')}}">Privacy Policy</a></li>
            <li class="nav-item"><a data-toggle="tooltip" title="" data-placement="bottom" class="nav-link" href="{{url_for('terms_and_conditions')}}">Terms and Conditions</a></li>
            <li class="nav-item"><a data-toggle="tooltip" title="" data-placement="bottom" class="nav-link" href="{{url_for('cookies_policy')}}">Cookies Policy</a></li>
            <li class="nav-item"><a data-toggle="tooltip" title="" data-placement="bottom" class="nav-link" href="{{url_for('contact')}}">Contact Info</a></li>
        </ul>
    </nav>
</div>