<div class="d-flex flex-row p-0 m-0 w-100 justify-content-center footer_menu_line">
    <div class="d-flex col-sm-6 justify-content-end align-self-center p-0 m-0 pr-2 footer_menu">
        {% include [language_fullpathfile('footer_menu.html',CURRENT_LANGUAGE,'COMPONENT'),fullpathfile('footer_menu.html','COMPONENT')] %}
    </div>
    <div class="d-flex col-sm-6  p-0 m-0 pl-2 justify-content-start align-items-center border border-warning border-top-0 border-bottom-0 border-right-0 footer_social_media_menu">
        {% include [language_fullpathfile('footer_social_media_menu.html',CURRENT_LANGUAGE,'COMPONENT'),fullpathfile('footer_social_media_menu.html','COMPONENT')] %}
    </div>
</div>