<div class="bg-transparent col-12 footer_menu">
    <div class="d-flex justify-content-center align-self-center w-100">
        {% if previous_page %}
        <div class="col-sm-1 p-0">
            <p style="text-align:right">
                <a class="xnav-link p-1" data-toggle="tooltip" title="{{previous_page}}" data-placement="top" href="{{url_for(previous_page)}}">&laquo;Previous</a>
            </p>
        </div>
        {% endif %}
        <div class="p-0">
            <p style="text-align:center">
                <a class="xnav-link p-1" data-toggle="tooltip" title="" data-placement="top" rel="nofollow" href="#" onclick="window.scrollTo(0,0); return false;">Top&uarr;</a>
            </p>
        </div>
        {% if next_page %}
        <div class="col-sm-1 p-0">
            <p style="text-align:left">
                <a class="xnav-link p-1" data-toggle="tooltip" title="{{next_page}}" data-placement="top" <a href="{{url_for(next_page)}}">Next&raquo;</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>