<div class="bg-white gps_info d-flex align-items-center py-0">
    <span style="text-decoration:none;line-height:1">
        <span style="font-weight:400" class="badge badge-pill badge-warning py-1 px-1">{{session.get('continent_name')}}</span>
        <span style="font-weight:400" class="badge badge-pill badge-success py-1 px-1">{{session.get('country_name')}}</span>
        <span style="font-weight:400" class="badge badge-pill badge-info py-1 px-1">{{session.get('region_name')}}</span>
        {% if session.get('region_name') != session.get('city') %}
        <span style="font-weight:400" class="badge badge-pill badge-primary py-1 px-1">{{session.get('city')}}</span>
        {% endif %}
        <span style="font-weight:400" class="badge badge-pill badge-secondary py-1 px-1">{{session.get('latitude')}},{{session.get('longitude')}}</span>
    </span>
</div>