<div class="bg-white gps_info d-flex align-items-center py-0">
    <span style="text-decoration:none;line-height:1">
        <span style="font-weight:400" class="d-none d-md-inline badge badge-pill badge-warning">{{session.get('continent_name')}}</span>
        <span style="font-weight:400" class="badge badge-pill badge-success">{{session.get('country_name')}}</span>
        <span style="font-weight:400" class="d-none d-md-inline badge badge-pill badge-info">{{session.get('region_name')}}</span>
        {% if session.get('region_name') != session.get('city') %}
        <span style="font-weight:400" class="d-none d-lg-inline badge badge-pill badge-primary">{{session.get('city')}}</span>
        {% endif %}
        <span style="font-weight:400" class="d-none d-lg-inline badge badge-pill badge-secondary">{{session.get('latitude')}},{{session.get('longitude')}}</span>
    </span>
</div>
