<!-- login with buttons (facebook etc) -->
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <a id="fbLoginLink" onclick="facebookLogin(); return false;" class="fb-btn-img"><img class="facebook-login-image" src="../../static/images/facebook-login.png" alt="connect with facebook" title="connect with facebook"></a>
        </div>
        <div>
            <p class="text-security-note" style="color:blue;">We will never post to your account without permission.</p>
        </div>
    </div>
</div>