<!--display messages except errors (warning,success,...)-->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="d-flex flex-column bg-transparent justify-content-center align-items-center">
        {% for message in messages %}
            {% if not("error".upper() in message[0].upper() or "error".upper() in message[1].upper()) %}
                <div class="d-flex bg-transparent justify-content-center align-items-center message_line">
                {% if "error".upper() in message[0].upper() or "error".upper() in message[1].upper() %}
                        <p class="text-danger font-weight-bold">
                {% elif message[0]=='warning' %}
                        <p class="text-warning font-weight-bold">
                {% elif message[0]=='success' %}
                        <p class="text-success font-weight-bold">
                {% else %}
                        <p class="text-info font-weight-bold">
                {% endif %}

                {% if message[0]=='warning' %}
                    {{message[0]}} : 
                {% endif %}

                {{message[1]}}
                    </p>
                </div>

            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}                    