<div class="page_history d-flex align-items-center py-0">
    <span style="text-decoration:none;line-height:1">
        {% set ns = namespace() %}
        {% set ns.pagestotal=0 %}
        {% for pg in session['pages'] %}
        {% set ns.pagestotal=ns.pagestotal+1 %}
        {% endfor %}
        {% if ns.pagestotal <= 2 %}
        {% set display_option='' %}
        {% elif ns.pagestotal <=4 %}
        {% set display_option='d-none d-sm-inline' %}
        {% elif ns.pagestotal <=6 %}
        {% set display_option='d-none d-md-inline' %}
        {% elif ns.pagestotal <=8 %}
        {% set display_option='d-none d-lg-inline' %}
        {% else %}
        {% set display_option="d-none d-xl-inline" %}
        {% endif %}
        
        {% set ns.pageix=0 %}
        {% set ns.pagecolorix=0 %}
        {% for pg in session['pages'] %}
        {% set ns.pageix=ns.pageix+1 %}
        {% set url=session['urls'][ns.pageix-1] %}

        {% set ns.pagecolorix=ns.pagecolorix+1 %}
        {% if ns.pagecolorix > 7 %}
        {% set ns.pagecolorix=1 %}
        {% endif %}
        {% if ns.pagecolorix==1 %}
        {% set pg_color="badge-warning" %}
        {% elif ns.pagecolorix==2 %}
        {% set pg_color="badge-primary" %}
        {% elif ns.pagecolorix==3 %}
        {% set pg_color="badge-secondary" %}
        {% elif ns.pagecolorix==4 %}
        {% set pg_color="badge-success" %}
        {% elif ns.pagecolorix==5 %}
        {% set pg_color="badge-danger" %}
        {% elif ns.pagecolorix==6 %}
        {% set pg_color="badge-info" %}
        {% elif ns.pagecolorix==7 %}
        {% set pg_color="badge-dark" %}
        {% endif %}

        
        <a href="{{url}}" style="font-weight:400" class="{{display_option}} badge {{pg_color}}">{{pg}}</a>
        {% endfor %}
    </span>
</div>