<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#contactus_modal_form">
    Contact Us
</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login_modal_form">
    Login
</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#registration_modal_form">
    Register
</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#forgetpassword_modal_form">
    Register
</button>
-->

<!--if config param SPLASHFORM_CONTACTUS html file set
    and contactusform form object provided 
    include the SPLASHFORM_CONTACTUS html file
-->

{% if SPLASHFORM_CONTACTUS and contactusform%}
<div class="d-flex">
    <!--contactus splash form -->
    {% include [language_fullpathfile(SPLASHFORM_CONTACTUS,CURRENT_LANGUAGE,'FORM'), fullpathfile(SPLASHFORM_CONTACTUS,'FORM')] %}
</div>
{% endif %}
{% if SPLASHFORM_LOGIN and loginform %}
<div class="d-flex">
    <!--login splash form -->
    {% include [language_fullpathfile(SPLASHFORM_LOGIN,CURRENT_LANGUAGE,'FORM','authorization'), fullpathfile(SPLASHFORM_LOGIN,'FORM','authorization')] %}
</div>
{% endif %}
{% if SPLASHFORM_REGISTRATION and registrationform %}
<div class="d-flex">
    <!--registration splash form -->
    {% include [language_fullpathfile(SPLASHFORM_REGISTRATION,CURRENT_LANGUAGE,'FORM','authorization'), fullpathfile(SPLASHFORM_REGISTRATION,'FORM','authorization')] %}
</div>
{% endif %}
{% if SPLASHFORM_FORGETPASSWORD and forgetpasswordform %}
<div class="d-flex">
    <!--forgetpassword splash form -->
    {% include [language_fullpathfile(SPLASHFORM_FORGETPASSWORD,CURRENT_LANGUAGE,'FORM','authorization'), fullpathfile(SPLASHFORM_FORGETPASSWORD,'FORM','authorization')] %}
</div>
{% endif %}
<!--cookies_splash form -->
{% include [language_fullpathfile('splashform_cookiesconsent.html',CURRENT_LANGUAGE,'FORM',''), fullpathfile('splashform_cookiesconsent.html','FORM','')] %}
