<!-- BEGIN:splash form Modal centered -->
{% if not splashform_module %}
{% set splashform_module='' %}
{%endif%}

{% if splashform_form %}
{% set splashform_formfile = include_files(splashform_form,type='FORM',module=splashform_module,language=CURRENT_LANGUAGE) %}
{%endif%}
<div class="modal fade " id="{{splashform_divid}}" tabindex="-1" role="dialog" aria-labelledby="{{splashform_aria_labelledby}}">
    <div class="modal-dialog modal-dialog-slideout modal-md modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content border border-light {{splashform_class}}" style="width:fit-content">
            {% include splashform_formfile ignore missing %}
        </div>
    </div>
</div>
<!-- END:splash form Modal centered END-->
