<!--START:summary_cell_header-->
    <div class="d-flex p-0 m-0 justify-content-center">
        {% if summary_icon %}
        <span  style="margin-top:-0.8em;">
        <i class="material-icons align-center">{{summary_icon}}</i>
        </span>
        {% endif %}
    </div>
    <div class="d-flex p-0 m-0 justify-content-center text-center">
        {% if summary_title %}
        <h1 class="text-center p-0 m-0">{{summary_title}}</h1>
        {% endif %}
    </div>
<!--END:summary_cell_header-->
