<!--START:summary_cell-->
{% include include_files('summary_cell_header.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
{% include include_files('summary_cell_body_header.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
{{summary_content}}
{% include include_files('summary_cell_body_footer.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
{% include include_files('summary_cell_footer.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}<!--END:summary_cell_body_footer-->
<!--END:summary_cell-->
