<div class="d-flex flex-row justify-content-center p-0 m-0 top_information_line">
    <div class="d-flex flex-row w-100 justify-content-start text-left py-1 p-0 m-0">
        <div class="d-flex flex-row py-1" style="line-height:1;border-bottom: 1px dotted orange;">
            {#% include include_files('display_properties.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %#}
            {% include include_files('GPS_info.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
        </div>
    </div>
    <div class="d-flex text-success text-center py-1 p-0 m-0 align-items-center">
        {% include include_files('visit_info.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
    </div>
    <div class="d-flex flex-row w-100 justify-content-end py-1 p-0 m-0">
        <div class="py-1" style="line-height:1;border-bottom: 1px dotted orange;">
            {% set badges_color="info" %}
            {% set toggler_color="warning" %}
            {% include include_files('pages_history.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
        </div>
    </div>
</div>