{#% set video_file = video_file('Did_You_Know_2016.mp4') %#}
{#% set video_title = 'now You know Why...' %#}
<div class="align-self-center border">
    <div class="d-flex flex-column m-0 p-0">
        <div class="d-flex justify-content-between p-0 m-0 border">
            <span class="mx-auto">
                <p class="p-0 m-0">{{video_title}}</p>
            </span>
        </div>
        <video id="video1" width="320" xautoplay class="m-0 p-0 border">
            <source src="{{video_file}}" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
        <div class="d-flex justify-content-between p-0 m-0 border">
                <span class="mx-auto">
                    <p class="p-0 m-0">{{video_title}}</p>
                <!--<p>Video courtesy of <a href="https://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a>.</p>-->
            </span>
            </div>
        <div class="d-flex justify-content-start p-0 m-0 border">
            <button id="video_playpause" class="video_button btn btn-light button-icon d-flex align-items-center py-0 px-1" onclick="playPause()"><i class="material-icons">pause_circle_outline</i><i class="material-icons">play_circle_outline</i></button>
            <button class="video_button btn btn-light button-icon d-flex align-items-center py-0 px-1" onclick="makeBig()"><i class="material-icons">zoom_out_map</i></button>
            <button class="video_button btn btn-light button-icon d-flex align-items-center py-0 px-1" onclick="makeNormal()"><i class="material-icons">fullscreen</i></button>
            <button class="video_button btn btn-light button-icon d-flex align-items-center py-0 px-1" onclick="makeSmall()"><i class="material-icons">fullscreen_exit</i></button>
            <a class="btn btn-light button-icon d-flex align-items-center py-0 px-1" href="{{video_file}}" download><i class="material-icons">cloud_download</i></a>        
        </div>
    </div>
</div>

<script>
    var myVideo = document.getElementById("video1");

    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }

    function makeBig() {
        myVideo.width = 560;
    }

    function makeSmall() {
        myVideo.width = 320;
    }

    function makeNormal() {
        myVideo.width = 420;
    }
</script>
<!--
<video width="320" height="240" autoplay>
    <source src="{{video_file}}" type="video/mp4">
    Your browser does not support the video tag.
</video>
-->