<!--BEGIN: form:cookiesconsent.html-->
{% set form_title='please accept our cookies' %}
{% set form_onclose_url='' %}
{% set form_close_link='' %}
{% set form_close_caption='' %}

<form style="font-size:1rem" class="cookies_consent_form" id="cookiesForm" action="{{ url_for('cookiesconsentform', answer='AGREE') }}" method="post" role="form" autocomplete="on" novalidate>
    <fieldset>
        {{ cookiesconsentform.hidden_tag() }}

        <div class="modal-header align-items-center">
                {% include include_files('form_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% if is_splashform %}
                {% include include_files('form_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% endif %}
            </div>

        <div class="cookies-consent-page-line"></div>

        <div class="modal-body xpt-1 xpb-1">
            <div class="d-flex flex-column">
                {% include include_files('cookies_consent.html',type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
            </div>
        </div>

        <div class="cookies-consent-page-line"></div>

        <!-- form footer -->
        <div class="modal-footer d-flex justify-content-between">
            <div class="">
                <a style="border-radius:2rem" class="btn btn-outline-info btn-sm" id="askmelater" href="{{ url_for('cookiesconsentform', answer='ASK-ME-LATER') }}">Ask me later</a>
            </div>
            <div class="">
                {{cookiesconsentform.submit(class="btn btn-sm btn-warning btn-submit")}}
            </div>
        </div>
    </fieldset>
</form>
<!--END: form:cookiesconsent.html-->
