<div class="d-flex flex-column authorization-form" style="padding-left:10px;padding-right:10px;">
    {#% include [language_fullpathfile('secure_info_general.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('secure_info_general.html','COMPONENT')] %#}
    <div class="clearfix"></div>
    <!--form is not validated locally on the browser (novalidate option) in order to use the forget password button-->
    <form class="zauthorization-form" id="formLogin" action="{{ url_for('authorization.login') }}" method="post" role="form" autocomplete="on" novalidate>
        <fieldset>
            {{ login_form.hidden_tag() }}
            <div class="form-group d-flex flex-column">
                {{ login_form.email.label }}
                {{ login_form.email(size=32, class="form-control input-style") }}
                {% for error in login_form.email.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group d-flex flex-column">
                {{ login_form.password.label }}
                {{ login_form.password(size=32, class="form-control input-style") }}
                {% for error in login_form.password.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex justify-content-start">
                <div class="d-flex align-items-center">
                    <div class="d-flex">
                    {{login_form.rememberMe(class="form-checkbox")}}
                    </div>
                    <div class="d-flex">
                        <p class="checkbox-label">Remember Me</p>
                    </div>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <a class="" href="{{url_for('authorization.forgetpassword',email='{{login_form.email.data}}')}}">Forgot your password?</a>
                </div>
                {% for error in login_form.rememberMe.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group d-flex justify-content-center align-items-center">
                <div class="d-flex">
                {{ login_form.recaptcha }}
                {% for error in login_form.recaptcha.errors %}
                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
            </div>

            <div class="form-group d-flex justify-content-center xp-0 xm-0 xborder xborder-danger">
                    {{login_form.submit(class="btn btn-sm mybtn-orange mybtn-submit btn-block")}}
            </div>
            {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT','authorization'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}

            <!-- separator line -->
            <!--
            <div class="border border-warning" style="width:100%;text-align:center;display:block;margin:2px auto;"></div>
            -->
            <!-- login with buttons (facebook etc) -->
            {#% include [language_fullpathfile('login_with_facebooketc.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('login_with_facebooketc.html','COMPONENT')] %#}

            <div class="form-group d-flex justify-content-center align-items-center" style="vertical-align:middle">
                    Don't have an account yet?&nbsp;
                    <a class="" data-toggle="tooltip" title="Hooray!" href="{{url_for('authorization.register')}}">Sign up now!</a>
            </div>

        </fieldset>
    </form>
</div>
