{% set form_title='contact us' %}
{% set form_onclose_url='' %}

{% set secure_text='Your information is secured and protected.' %}
{% set include_mcafee='Y' %}
<form style="xwidth:100%" class="d-flex flex-column contactus-form" id="formContactUs" action="{{ url_for('authorization.contactForm') }}" method="post" role="form" autocomplete="on" validate>
    <fieldset>
        {{ contactusform.hidden_tag() }}

        <div class="modal-header align-items-center">
                {% include include_files('form_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
                {% include include_files('form_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
            </div>

        <div class="xauthorization-form-line"></div>

        <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="p-0">
                    {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT','authorization'), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','authorization')] %}
                    <div class="p-0 left">
                        <!--===================================================-->
                        <div class="d-flex flex-column justify-content-start">
                            {% if not(current_user.is_authenticated) %}

                            <div class="form-group d-flex flex-column mb-1">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{contactusform.firstName.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if contactusform.firstName.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ contactusform.firstName(class="form-control input-style") }}
                                {% for error in contactusform.firstName.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <div class="form-group d-flex flex-column mb-1">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{contactusform.lastName.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if contactusform.lastName.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ contactusform.lastName(class="form-control input-style")}}
                                {% for error in contactusform.lastName.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group d-flex flex-column mb-1">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{contactusform.company.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if contactusform.company.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ contactusform.company( class="form-control input-style") }}
                                {% for error in contactusform.company.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group d-flex flex-column mb-1">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{contactusform.jobTitle.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if contactusform.jobTitle.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ contactusform.jobTitle(class="form-control input-style") }}
                                {% for error in contactusform.company.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="form-group d-flex flex-column mb-1">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{contactusform.email.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if contactusform.email.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ contactusform.email(size=60,class="form-control input-style") }}
                                {% for error in contactusform.company.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <div class="form-group d-flex flex-column mb-1 w-100 justify-content-start align-self-start">
                                <div class="d-flex flex-row">
                                    <div>
                                        {{contactusform.contact_message.label }}
                                    </div>
                                    <div>
                                        <span style="color:red">{% if contactusform.contact_message.flags.required %}*{% endif %}</span>
                                    </div>
                                </div>
                                {{ contactusform.contact_message(class="form-control input-style",placeholder="your message...") }}
                                {% for error in contactusform.contact_message.errors %}
                                <span class="text-error-note" style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <!--==================================================-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="xauthorization-form-line"></div>

        <!--footer-->
        <div class="modal-footer d-flex justify-content-start">
            <div class="">
                {% if not(current_user.is_authenticated) %}
                <div class="d-flex mt-0 mb-0 p-0">
                    <div class="align-self-center">Already Registered?&nbsp;</div>
                    <div class="align-self-center"><a class="btn btn-info btn-sm mybtn-submit" href="{{url_for('authorization.login')}}">Login</a></div>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-grow-1 justify-content-end">
                <div class="mr-2">
                    <button type="button" class="btn btn-sm btn-default mybtn-close" data-dismiss="modal">Close</button>
                </div>
                <div class=''>
                    <button type="submit" class="btn btn-sm btn-warning button_submit">Submit</button>
                </div>
            </div>
        </div>

    </fieldset>
</form>