<form class="" id="cookiesForm" action="{{ url_for('cookiesconsentform', answer='AGREE') }}" method="post" role="form" autocomplete="on" novalidate>
    <fieldset>
        {{ cookiesconsentform.hidden_tag() }}
        <div class="modal-header align-items-center p-2">
            <h1 class="modal-title mx-auto" id="cookies_modal_form_Label">🍪please accept our cookies</h1>
            <button type="button button-info" class="float-right xclose splash_form_close_button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
        </div>

        <div class="cookies-consent-page-line"></div>
        <!--add some emoji like 🍪 🐕‍🦺-->
        <div class="modal-body pt-1 pb-1 pl-2 pr-2">
            <div class="d-flex flex-column">
                <p>
                We use <strong>cookies</strong> to gather statistics and offer you personalized content and experience.
                We also share information about your use of our site with our social media and analytics partners.Read about how we use cookies and how to withdraw your consent in our Cookie Policy.
                <span class="text-muted credit">By using our website you are consenting to our use of cookies in accordance with our
                  <a href="{{url_for('cookies_policy')}}">cookie policy</a>.</span>
                </p>
            </div>
        </div>

        <div class="cookies-consent-page-line"></div>

        <div class="modal-footer d-flex justify-content-between p-2">
            <div class="">
                    <a id="moreinf" href="{{ url_for('cookies_policy') }}">More Information</a>
                </div>
                <div class="">
                        <a id="askmelater" href="{{ url_for('cookiesconsentform', answer='ASK-ME-LATER') }}">Ask me later</a>
                    </div>
                <div class="">
                    {{cookiesconsentform.submit(class="btn btn-danger btn-sm")}}
            </div>
        </div>
    </fieldset>
</form>
<!--

                <strong>Cookies</strong> are important to the proper functioning of a site.
                To improve your experience, we use cookies to remember log-in details and provide secure log-in,
                collect statistics to optimize site functionality, and deliver content tailored to your interests.
                Click <strong>Agree and Proceed</strong> to accept cookies and go directly to the site or click on <strong>More Information</strong> to see detailed descriptions of the types of cookies and choose whether to accept certain cookies while on the site.
                Selecting <strong>"Ask me later"</strong> will enable cookies for the next 24 hours.
                <span class="text-muted credit">By using our website you are consenting to our use of cookies in accordance with our
                        <a href="{{url_for('cookies_policy')}}">cookie policy</a>.</span>

-->