<!-- BEGIN:splashform_cookiesconsent.html -->
{% set splashform_divid='cookies_modal_form' %}
{% set splashform_aria_labelledby='cookies_modal_form_data' %}
{% set splashform_module='' %}
{% set splashform_form='form_cookiesconsent.html' %}
{% set splashform_class='cookies-consent-page' %}
{% set splashform_component = include_files('splashform_component.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) %}
{% include splashform_component ignore missing%}
<!-- END:splashform_cookiesconsent.html -->