.authorization-form {
    color: black;
    background-color: #f8f9fa;
    height: auto;
    line-height: unset;
    font-family: Inconsolata, Montserrat, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
    border:1px solid #f8f9fa;
    border-radius:4px;
}

.authorization-form label {
    color: #8c8c8c;
    background-color: transparent;
    font-family: Montserrat, Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.authorization-form input {
    /*color: #8c8c8c;*/
    color: black;
    border: 1px solid #e1e1e6;
    /*background-color: #fff;*/
    font-family: Inconsolata, 'Open Sans', 'Segoe UI Black', Inconsolata, serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    xpadding: 10px 20px;
    max-width: 500px;
}

.authorization-form input[type=submit] {
    color: black;
    font-weight: 900;
    font-size: 12px;
    xwidth: 100%;
}
.authorization-form button {
    font-weight: 900;
    font-size: 12px;
    xwidth: 100%;
}

.authorization-form textarea {
    color: blue;
    font-weight: 600 !important;
    font-size: 14px !important;
    xwidth: 800px !important;
    max-width: 1000px !important;
    height: 256px !important;
}

.authorization-form a {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 2px;
    border:1px solid transparent;
}

.authorization-form a:visited {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.authorization-form a:link {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 2px;
    border:1px solid transparent;
}

.authorization-form a:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    background-color: lightgray;
    color: white;
    border:1px solid orange;
    border-radius:4px;
}
.authorization-form-line {
    border:0px;
    border-top:2px solid #005293;
}

.separation_line_orange {
    border:0px;
    border-top:2px solid orange;
}
.separation_line_blue {
    border:0px;
    border-top:2px solid blue;
}
.separation_line_black {
    border:0px;
    border-top:2px solid black;
}

.upload_file{
    border: 0px solid #e1e1e6 !important;
}
.upload_file button {
    font-weight: 600 !important;
    font-size: 12px !important;
    width: 100% !important;
    color:green !important;
}
.input_1_perrow {
    width: 480px
}
.input_2_perrow {
    width: 228px
}
.input_x3 {
    width: 145px
}
.readonly-form {
    background-color: #f8f9fa;
    height: auto;
    line-height: unset;
    font-family: Inconsolata, Montserrat, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
}
.readonly-form label {
    color: #8c8c8c;
    background-color: transparent;
    font-family: Montserrat, Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.readonly-form input {
    color: #8c8c8c;
    border: 1px solid #e1e1e6;
    /*background-color: #fff;*/
    font-family: Inconsolata, 'Open Sans', 'Segoe UI Black', Inconsolata, serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px 20px;
    max-width: 500px;
}
.readonly-form input[type=submit] {
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}
.readonly-form a {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 2px;
    border: 0px solid gray;
    border-radius: 0px;
}
.readonly-form a:visited {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.readonly-form a:link {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.readonly-form a:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    background-color: lightgray;
    color: white;
}
.readonly-form-field {
    background-color: #f8f9fa;
    height: auto;
    line-height: unset;
    font-family: Inconsolata, Montserrat, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: black;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
}

.readonly-form-field label {
    color: #8c8c8c;
    background-color: transparent;
    font-family: Montserrat, Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
    text-transform: capitalize;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.readonly-form-field input {
    color: blue;
    /*#8c8c8c;*/
    border: 1px solid #e1e1e6;
    /*background-color: #fff;*/
    font-family: Inconsolata, 'Open Sans', 'Segoe UI Black', Inconsolata, serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px;
    max-width: 480px;
}

.readonly-form-field a {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.readonly-form-field a:visited {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.readonly-form-field a:link {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.readonly-form-field a:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    background-color: lightgray;
    color: white;
}

.contactus-form {
    background-color: transparent; /*#f8f9fa*/
    height: auto;
    line-height: unset;
    font-family: Inconsolata, Montserrat, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
    border:1px solid transparent; /*#f8f9fa*/
    border-radius:4px;
}

.contactus-form label {
    color: #8c8c8c;
    background-color: transparent;
    font-family: Montserrat, Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-stretch: always;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.contactus-form input,textarea {
    color: black;
    border: 1px solid #e1e1e6 !important;
    /*background-color: #fff;*/
    font-family: Inconsolata, 'Open Sans', 'Segoe UI Black', Inconsolata, serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 600;
    font-size: 14px ;
    border-radius: 3px;
    padding: 2px;
    max-width: 500px;
}
.contactus-form textarea {
    color: blue;
    width: 500px;
    max-width: 1000px;
    height: 200px;
    padding: 2px;
}
.contactus-form h4 {
    font-family: Montserrat, Inconsolata, 'Segoe UI Light', serif;
    font-weight: 700;
    font-size: 14pt;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    color:black;
}

.contactus-form input[type=submit] {
    font-weight: 600;
    font-size: 12px;
    xwidth: 100%;
}
.contactus-form button {
    font-weight: 600;
    font-size: 12px;
}
.splash_form_close_button {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    padding:0px !important;
    margin:0px !important;
}

.contactus-form a {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 1px;
}

.contactus-form a:visited {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.contactus-form a:link {
    color: orange;
    background-color: transparent;
    font-family: Inconsolata, 'Segoe UI Light', 'Open Sans', 'Segoe UI Black', serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.contactus-form a:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    background-color: lightgray;
    color: white;
    padding:3px;
}
