.company_brand {
    color: Black;
    background-color: transparent;
    font-family: Montserrat,'Open Sans', 'Segoe UI Black', Inconsolata, serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 900;
    font-size: 14pt;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.page_title {
    color: Black;
    background-color: transparent;
    font-family: Montserrat,'Open Sans', 'Segoe UI Black', Inconsolata, serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 900;
    font-size: 14pt;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.top_navigation_line {
    color: orange;
    font-family: Inconsolata,'Segoe UI Light', Tangerine, serif;
    font-size: 10pt;
    font-style: normal;
}
.internal_use_line {
    color: orange;
    font-family: Inconsolata,'Segoe UI Light', Tangerine, serif;
    font-size: 10pt;
    font-style: normal;
    text-align:center;
}
.copywrite_line {
    color: black;
    font-family: Inconsolata,'Segoe UI Light', Tangerine, serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: 900;
}

