{% set page_header="_layout_page_header.html" %}
{% set page_header_design="" %}
{% set page_header_version="" %}
{% set page_summary_pages="_layout_page_summary_pages.html" %}
{% set page_summary_pages_design="" %}
{% set page_summary_pages_version="" %}
<!---
<canvas id="canvas"></canvas>
-->
<div class="d-flex flex-column justify-content-start">
    <!--0:page-top_information_line-->
    <div class="d-flex">
        {% include [language_fullpathfile('top_information_line.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('top_information_line.html','COMPONENT')] %}
    </div>

    <div class="d-flex justify-content-start mb-2">
        <div class="d-flex flex-column justify-content-center">
            <!--3:messages-->
            <div class="d-flex justify-content-center align-items-center message_line p-1">
                {% include [language_fullpathfile('messages_display_excepterrors.html',CURRENT_LANGUAGE,'COMPONENT'),fullpathfile('messages_display_excepterrors.html','COMPONENT')] %}
            </div>

            <!--1:page-top-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_top_image_file %}
                {% include LAYOUTS_FOLDER+version_file("_layout_page_image_top.html",execution_mode,design_type,design_version) %}
                {% endif %}
                {% if language_page_top_carousel_file or page_top_carousel_file %}
                {% include [language_page_top_carousel_file, page_top_carousel_file] %}
                {% endif %}
            </div>

            <!--2:page-header:page-logo,title,buttons-->
            <div class="d-flex justify-content-start">
                {% include LAYOUTS_FOLDER+version_file(page_header,execution_mode,page_header_design,page_header_version) %}
            </div>

            <!--4:page-middle-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_middle_image %}
                {% include
                LAYOUTS_FOLDER+version_file("_layout_page_image_middle.html",execution_mode,design_type,design_version)
                %}
                {% endif %}
                {% if language_page_middle_carousel_file or page_middle_carousel_file %}
                {% include [language_page_middle_carousel_file, page_middle_carousel_file] %}
                {% endif %}
            </div>

            <!--5:page-content-->
            <div class="jumbotron text-left content_page pt-0 pb-0 pl-1 pr-1">
                <div class="container col-sm-12">
                    <div class="row">
                        <div class="d-flex">
                            {% if page_inpage_image_left %}
                            {% include LAYOUTS_FOLDER+version_file("_layout_page_image_inpage_left.html",execution_mode,design_type,design_version) %}
                            {% endif %}
                            {% if language_page_inpage_carousel_file_left or page_inpage_carousel_file_left %}
                            {% include [language_page_inpage_carousel_file_left, page_inpage_carousel_file_left] %}
                            {% endif %}
                        </div>
                        <div class="">
                            {% include [language_page_file(content_page,CURRENT_LANGUAGE,active_module), page_file(content_page,active_module)] %}
                        </div>
                        <div class="d-flex justify-content-center">
                            {% if page_content_right %}
                            {% include page_content_right ignore missing %}
                            {% endif %}
                            {% if page_inpage_image_right %}
                            {% include LAYOUTS_FOLDER+version_file("_layout_page_image_inpage_right.html",execution_mode,design_type,design_version) %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--6:page-summary-pages-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_bottom_image %}
                {% include LAYOUTS_FOLDER+version_file("_layout_page_image_bottom.html",execution_mode,design_type,design_version) %}
                {% endif %}
                {% if language_page_summary_carousel_file or page_summary_carousel_file %}
                {% include [language_page_summary_carousel_file, page_summary_carousel_file] %}
                {% endif %}
            </div>

            <!--7:summary pages-->
            <div class="d-flex xflex-grow-1 xjustify-content-center mt-0 xborder xborder-danger">
                {% include LAYOUTS_FOLDER+version_file(page_summary_pages,execution_mode,page_summary_pages_design,page_summary_pages_version) %}
            </div>

            <!--8:page-bottom-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_bottom_image %}
                {% include
                LAYOUTS_FOLDER+version_file("_layout_page_image_bottom.html",execution_mode,design_type,design_version)
                %}
                {% endif %}
                {% if language_page_bottom_carousel_file or page_bottom_carousel_file %}
                {% include [language_page_bottom_carousel_file, page_bottom_carousel_file] %}
                {% endif %}
            </div>
        </div>
    </div>
</div>