{% set page_header="_layout_page_header_inputform.html" %}
{% set page_header="_layout_page_header.html" %}
{% set page_header_design="" %}
{% set page_header_version="" %}
{% set page_summary_pages="_layout_page_summary_pages.html" %}
{% set page_summary_pages_design="" %}
{% set page_summary_pages_version="" %}
<!---
<canvas id="canvas"></canvas>
-->
<div class="d-flex flex-column justify-content-start">
    <!--1:page-top_information_line-->
    <div class="d-flex justify-content-end">
        {% include [language_fullpathfile('top_information_line.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('top_information_line.html','COMPONENT')] %}
    </div>

    <div class="d-flex justify-content-center col-10 mx-auto mb-2 mt-2">
        <div class="d-flex flex-column justify-content-center pl-2 pr-2 pt-0 pb-0 bg-white">
            <!--2:messages-->
            <div class="d-flex justify-content-center align-items-center message_line">
                {% include [language_fullpathfile('messages_display_excepterrors.html',CURRENT_LANGUAGE,'COMPONENT'),fullpathfile('messages_display_excepterrors.html','COMPONENT')] %}
            </div>

            <!--3:page-top-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_top_image_file %}
                {% include LAYOUTS_FOLDER+version_file("_layout_page_image_top.html",execution_mode,design_type,design_version) %}
                {% endif %}
                {% if language_page_top_carousel_file or page_top_carousel_file %}
                {% include [language_page_top_carousel_file, page_top_carousel_file] %}
                {% endif %}
            </div>

            <!--4:page-header:page-logo,title,buttons-->
            <div class="d-flex justify-content-start">
                {% include LAYOUTS_FOLDER+version_file(page_header,execution_mode,page_header_design,page_header_version) %}
            </div>

            <!--5:page-middle-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_middle_image %}
                {% include LAYOUTS_FOLDER+version_file("_layout_page_image_middle.html",execution_mode,design_type,design_version) %}
                {% endif %}
                {% if language_page_middle_carousel_file or page_middle_carousel_file %}
                {% include [language_page_middle_carousel_file, page_middle_carousel_file] %}
                {% endif %}
            </div>

            <!--6:page-content-->
            <div class="d-flex justify-content-center mt-2">
                <div class="d-flex">
                    <div class="">
                    </div>
                    <div class="">
                        {% if page_inpage_image_left %}
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_inpage_left.html",execution_mode,design_type,design_version) %}
                        {% endif %}
                        {% if language_page_inpage_carousel_file_left or page_inpage_carousel_file_left %}
                        {% include [language_page_inpage_carousel_file_left, page_inpage_carousel_file_left] %}
                        {% endif %}
                    </div>

                    <div class="flex-grow-1">
                        {% include [language_page_file(content_page,CURRENT_LANGUAGE,active_module), page_file(content_page,active_module)] %}
                    </div>

                    <div class="">
                        {% if page_inpage_image_right %}
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_inpage_right.html",execution_mode,design_type,design_version) %}
                        {% endif %}
                        {% if language_page_inpage_carousel_file_right or page_inpage_carousel_file_right %}
                        {% include [language_page_inpage_carousel_file_right, page_inpage_carousel_file_right] %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--7:page-bottom-image-or-carousel-->
            <div class="d-flex justify-content-center">
                {% if page_bottom_image %}
                {% include LAYOUTS_FOLDER+version_file("_layout_page_image_bottom.html",execution_mode,design_type,design_version) %}
                {% endif %}
                {% if language_page_bottom_carousel_file or page_bottom_carousel_file %}
                {% include [language_page_bottom_carousel_file, page_bottom_carousel_file] %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
