<!--summary-pages-->
{# namespace global variables #}
{% set ns = namespace() %}
{% set ns.rows=0 %}
{% set ns.rowCells=0 %}
{% set ns.row=0 %}
{% set ns.col=0 %}
{% set ns.rowmargin="" %}

{% for gridRow in SummaryPagesArray %}
    {% set ns.rowCells=0 %}
    {% for cell in gridRow %}
        {% if cell %}
            {% set ns.rowCells=ns.rowCells+1 %}
        {% endif %}
        {% if ns.rowCells>0 %}
            {% set ns.rows=ns.rows+1 %}
        {% endif %}
    {% endfor %}

    {% if ns.rowCells>0 %}
        {% set ns.row=ns.row+1 %}

        {% if loop.first %}
            <div class="container bg-transparent col-sm-12 mb-2">
                    <div class="row">
                            {% endif %}

        {% set cellwidthN=12/ns.rowCells %}
        {# set cellwidth="col-"+str(cellwidthN) #}
        {% if ns.rowCells==1 %}
            {% set cellwidth="col-12" %}
        {% elif ns.rowCells==2 %}
            {% set cellwidth="col-6" %}
        {% elif ns.rowCells==3 %}
            {% set cellwidth="col-4" %}
        {% elif ns.rowCells==4 %}
            {% set cellwidth="col-3" %}
        {% endif %}

        {% set ns.rowmargin="" %}
        {% if not(loop.last) %}
            {% set ns.rowmargin="mb-1" %}
        {% endif %}

        {% set ns.col=0 %}
        {% for cell in gridRow %}
            {% if cell %}
                {% set ns.col=ns.col+1 %}            
                {% set cellmargin="" %}
                {% if not(loop.last) and ns.col != ns.rowCells %}
                    {% set cellmargin="mr-1" %}
                {% endif %}

                {% set subpage_file = page_file(cell) %}
                {% set language_subpage_file=language_file(subpage_file,CURRENT_LANGUAGE) %}
                <div class="col-sm-4 m-0 p-1">
                        <div class="summary-cell">
                                {% include [language_subpage_file,subpage_file] %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if loop.last %}
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}

{# variables from namespace#}
{% set rows=ns.rows %}
