<div>
    {% include include_files('top_header_line.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('top_brand_line.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('top_menu_line.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('top_information_line.html',type='COMPONENT',module='',language=CURRENT_LANGUAGE) ignore missing %}
</div>