<!--page content template-->

{% set active_module='' %}

{% if not(content_page_template) %}
{% set content_page_template="_layout_page_content_template_default_development.html" %}
{% set content_page_template="_layout_page_content_template_default.html" %}
{%endif%}
{% if not(page_content_template_version) %}
{% set page_content_template_version="" %}
{%endif%}
{% if not(page_content_template_design) %}
{% set page_content_template_design="" %}
{%endif%}
{% if not(page_content_version) %}
{% set page_content_version="" %}
{%endif%}
{% if not(page_content_design) %}
{% set page_content_design="" %}
{%endif%}

{% set page_content_file = page_file(content_page) %}
{% set language_page_content_file=language_file(page_content_file,CURRENT_LANGUAGE) %}

{% if content_page_right %}
<!--{{content_page_right}}|{{active_module}}|{{CURRENT_LANGUAGE}}|-->
{#% set page_content_right_file = page_file(content_page_right) %#}
{#% set language_page_content_right_file = language_file(page_content_right_file,CURRENT_LANGUAGE) %#}
{#% set page_content_right = [language_page_content_right_file, page_content_right_file] %#}
{#% set page_content_right = include_files(content_page_right,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) %#}
{% else %}
{%endif%}

{% set page_image = '' %}
{% if page_logo %}
{% set page_image = image_file(page_logo) %}
{%endif%}
{% if intext_image %}
{% set page_intext_image = image_file(intext_image) %}
{%endif%}

{% set page_top_image_file = "" %}
{% set page_inpage_image_file = "" %}
{% set page_middle_image_file = "" %}
{% set page_summary_image_file = "" %}
{% set page_bottom_image_file = "" %}

{% if page_top_image %}
{% set page_top_image_file = image_file(page_top_image) %}
{% endif %}

{% if page_inpage_image_left %}
{% set page_inpage_image_left_file = image_file(page_inpage_image_left) %}
{% endif %}
{% if page_inpage_image_right %}
{% set page_inpage_image_right_file = image_file(page_inpage_image_right) %}
{% endif %}

{% if page_inpage_image %}
{% set page_inpage_image_file = image_file(page_inpage_image) %}
{% endif %}

{% if page_middle_image %}
{% set page_middle_image_file = image_file(page_middle_image) %}
{% endif %}

{% if page_summary_image %}
{% set page_summary_image_file = image_file(page_summary_image) %}
{% endif %}

{% if page_bottom_image %}
{% set page_bottom_image_file = image_file(page_bottom_image) %}
{% endif %}

{% if carousel %}
{% set page_carousel_file = page_file(carousel) %}
{% set language_page_carousel_file=language_file(page_carousel_file,CURRENT_LANGUAGE) %}
{% endif %}

{% if top_carousel %}
{% set page_top_carousel_file = page_file(top_carousel) %}
{% set language_page_top_carousel_file=language_file(page_top_carousel_file,CURRENT_LANGUAGE) %}
{% endif %}

{% if middle_carousel %}
{% set page_middle_carousel_file = page_file(middle_carousel) %}
{% set language_page_middle_carousel_file=language_file(page_middle_carousel_file,CURRENT_LANGUAGE) %}
{% endif %}

{% if summary_carousel %}
{% set page_summary_carousel_file = page_file(summary_carousel) %}
{% set language_page_summary_carousel_file=language_file(page_summary_carousel_file,CURRENT_LANGUAGE) %}
{% endif %}

{% if bottom_carousel %}
{% set page_bottom_carousel_file = page_file(bottom_carousel) %}
{% set language_page_bottom_carousel_file=language_file(page_bottom_carousel_file,CURRENT_LANGUAGE) %}
{% endif %}

{% if inpage_carousel %}
{% set page_inpage_carousel_file = page_file(inpage_carousel) %}
{% set language_page_inpage_carousel_file=language_file(page_inpage_carousel_file,CURRENT_LANGUAGE) %}
{% endif %}


{% if not(link_page1) %}{% set link_page1="" %}{% endif %}
{% if not(link_page2) %}{% set link_page2="" %}{% endif %}
{% if not(link_page3) %}{% set link_page3="" %}{% endif %}
{% if not(link_page4) %}{% set link_page4="" %}{% endif %}
{% if not(link_page5) %}{% set link_page5="" %}{% endif %}
{% if not(link_page6) %}{% set link_page6="" %}{% endif %}
{% if not(link_page7) %}{% set link_page7="" %}{% endif %}
{% if not(link_page8) %}{% set link_page8="" %}{% endif %}
{% if not(link_page9) %}{% set link_page9="" %}{% endif %}
{% set LinkPagesArray = [link_page1 ,link_page2, link_page3, link_page4 ,link_page5, link_page6, link_page7,link_page8, link_page9] %}

{% set LinkPages=0 %}
{% for pageLink in LinkPagesArray %}
{% if pageLink[0] %}
{% set LinkPages=LinkPages+1 %}
{% endif %}
{% endfor %}

{% if next_page %}
{% set LinkPages=LinkPages+1 %}
{% endif %}
{% if previous_page %}
{% set LinkPages=LinkPages+1 %}
{% endif %}

{% if not(document_link_page1) %}{% set document_link_page1="" %}{% endif %}
{% if not(document_link_page2) %}{% set document_link_page2="" %}{% endif %}
{% if not(document_link_page3) %}{% set document_link_page3="" %}{% endif %}
{% if not(document_link_page4) %}{% set document_link_page4="" %}{% endif %}
{% if not(document_link_page5) %}{% set document_link_page5="" %}{% endif %}
{% if not(document_link_page6) %}{% set document_link_page6="" %}{% endif %}
{% if not(document_link_page7) %}{% set document_link_page7="" %}{% endif %}
{% if not(document_link_page8) %}{% set document_link_page8="" %}{% endif %}
{% if not(document_link_page9) %}{% set document_link_page9="" %}{% endif %}
{% set DocumentLinkPagesArray = [document_link_page1 ,document_link_page2, document_link_page3, document_link_page4 ,document_link_page5, document_link_page6, document_link_page7,document_link_page8, document_link_page9] %}

{% set DocumentLinkPages=0 %}
{% for pageLink in DocumentLinkPagesArray %}
{% if pageLink[0] %}
{% set DocumentLinkPages=DocumentLinkPages+1 %}
{% endif %}
{% endfor %}

<div class="d-flex flex-column w-100 bg-white">
    <div class="d-flex flex-row w-100 text-black">
        <div class="d-flex flex-column justify-content-start xbg-white">
            {% include include_files('_layout_leftside.html',type='LAYOUT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        </div>
        <div class="d-flex flex-column flex-grow-1 justify-content-start">
            {% include include_files(content_page_template,type='LAYOUT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        </div>
    </div>
    <div class="w-100 internal_use_line p-2">
        {% include include_files('internaluse_line.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
    </div>
</div>