<div class="d-flex flex-column mb-2 pb-2  administration-page">
    <div class="p-0">
        {% include [language_fullpathfile('messages_display_errors_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT',active_module), fullpathfile('messages_display_errors_exceptfielderrors.html','COMPONENT','administration')] %}
    </div>
    <div id="mb-2 pb-2">
        {% include [language_fullpathfile(formPage,CURRENT_LANGUAGE,'FORM',active_module), fullpathfile(formPage,'FORM',active_module)] %}
    </div>
</div>