<div class="admin-container text-black">
    <div class="table-responsive">
        <table class="table table-hover table-striped table-borderless mb-0 pb-0" id="visitors">
            <thead>
                <tr>
                    <th scope="col">IP</th>
                    <th scope="col">Number</th>
                    <th scope="col">Visits Count</th>
                    <th scope="col">Visit Dt</th>
                    <th scope="col">Visits</th>
                    <td colspan="2" align="center"><a data-toggle="tooltip" title="add" data-placement="top" href="{{ url_for('administration.useredit', action='add', id=0) }}"><i class="fas fa-plus-square"></a></td>
                </tr>
            </thead>
            <tbody>
                {% for visitor in visitors %}
                <tr id={{ visitor.id }}>
                    <th scope="row">{{ visitor.ipa }}</th>
                    <td>{{ visitor.visitorNumber }}</td>
                    <td> {{ visitor.visitsCount }} </td>
                    <td> {{ visitor.visitDT }} </td>
                    <td> {{ visitor.visits }} </td>
                    <td align="center"><a data-toggle="tooltip" title="edit" data-placement="top" href="{{ url_for('administration.useredit', action='edit', id=visitor.id) }}"><i class="fas fa-edit"></a></td>
                    <td align="center"><a data-toggle="tooltip" title="delete" data-placement="top" href="{{ url_for('administration.useredit', action='delete', id=visitor.id) }}"><i class="fas fa-trash-alt"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>