{% set page_title="VisitPoints" %}
{% set page_icon="fas fa-globe-europe" %}
{% set page_links = "visits_pagelinks.html" %}
{% set next_page_url=url_for("administration.usersadmin",action_tab='users') %}
{% set next_page_caption="Users Admin" %}
<div class="d-flex flex-column">
  {% if not is_tab_form %}
  <div class="d-flex flex-row justify-content-end p-0" style="transform: translate(0%, 0%);">
    {% include include_files(page_links,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
    {% if next_page_url %}
    {% include include_files('button_next.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
    {% endif %}
  </div>
  <div class="modal-header align-items-center pr-0" style="margin-top:-1.5em">
    {% include include_files('page_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
    {% include include_files('page_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
  </div>
  {% endif %}

  <div class="row justify-content-center">
    <!--column-2:graph1-->
      <div class="col-xs m-1 p-0">
        <img class="img-fluid xborder xborder-danger" src='{{graph1}}'></img>
      </div>
      <!--column-3:graph3-->
      <div class="col-xs xborder xborder-info m-1 p-0">
        <img class="img-fluid xborder xborder-danger" src='{{graph2}}'></img>
      </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    {% include include_files('visitpoints_table.html',type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
  </div>

</div>