<div class="admin-container text-black">
    <div class="table-responsive">
        <table class="table table-hover table-striped table-borderless mb-0 pb-0" id="visits">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">DT</th>
                    <th scope="col">IP</th>
                    <th scope="col" colspan="2">visit point</th>
                    <th scope="col">pages</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in visits %}
                <tr id={{ visit.id }}>
                    <th scope="row">{{ visit.visitNumber }}</th>
                    <td>{{ visit.visitDT }}</td>
                    <td> {{ visit.ip }} </td>
                    <td> {{ visit.visitpoint.country_name }} </td>
                    <td> {{ visit.visitpoint.city }} </td>
                    <td> {{ visit.pagesVisited }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>