{% set page_title="Visits" %}
{% set page_icon="fas fa-chart-line" %}
{% set page_links = "visits_pagelinks.html" %}
{% set next_page_url=url_for("administration.usersadmin",action_tab='users') %}
{% set next_page_caption="Users Admin" %}
<div class="d-flex flex-column">
    {% if not is_tab_form %}
    <div class="d-flex flex-row justify-content-end p-0" style="transform: translate(0%, 0%);">
        {% include include_files(page_links,type='PAGE',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        {% if next_page_url %}
        {% include include_files('button_next.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        {% endif %}
    </div>
    <div class="modal-header align-items-center pr-0" style="margin-top:-1.5em">
        {% include include_files('page_title.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
        {% include include_files('page_close_icon.html',type='COMPONENT',module=active_module,language=CURRENT_LANGUAGE) ignore missing %}
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <!--d-none d-lg-block : hide on screens smaller than large-->
            <div class="col-sm xd-none xd-xl-block">
                <img class="img-fluid xborder xborder-danger" src='{{graph1}}'></img>
            </div>
            <div class="col-sm xborder xborder-info">
                    <img class="img-fluid xborder xborder-danger" src='{{graph2}}'></img>
                </div>
            </div>
        <!--row-1:grpah1-->
        <!--d-lg-none : hide on screens wider than large
        <div class="row d-xl-none">
            <div class="col-xs ">
                <img class="img-fluid " src='{{graph1}}'></img>
            </div>
        </div>
        <!--row-2:grpah2
        <div class="row">
            <div class="col-xs xborder xborder-info">
                <img class="img-fluid xborder xborder-danger" src='{{graph2}}'></img>
            </div>
        </div>
    -->
        <!--row-3:grpah3-->
        <div class="row">
            <div class="col-sm xborder xborder-info">
                <img class="img-fluid xborder xborder-danger" src='{{graph3}}'></img>
            </div>
            <div class="col-sm xborder xborder-info">
                    <img class="img-fluid xborder xborder-danger" src='{{graph4}}'></img>
                </div>
            </div>
        <!--row-4:grpah4
        <div class="row">
            <div class="col-xs xborder xborder-info">
                <img class="img-fluid xborder xborder-danger" src='{{graph4}}'></img>
            </div>
        </div>
    -->
    </div>
</div>